

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="panel-header panel-header-sm">
 
</div>
<div class="main-content">
 
    <div class="row">
        <div class="col-md-11">
            

          
            <div class="card">
              <div class="card-header">
                
                 <div class="container">
                    <div class="row justify-content-center">
                     <div class="col-md-11">
                       
                       <router-outlet></router-outlet>
                     </div>                              
                 </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>




 
      
      

            


