
<footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>
              
              <li>
                <a href="#">
                  About Us
                </a>
              </li>
              <li>
                <a href="#">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" style="color: rgb(5, 56, 116)"><b>  &copy;
           
                {{test | date:'medium'}}</b>
          
             </div>
        </div>
      </footer>
      