
<footer class="footer" style="background-color: rgb(33, 34, 34)">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-bottom">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn btn-group-toggle" [class.active-button] = "isButtonActive == 1" (click)="toggle1(1)"  routerLink="/welcome">Home
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
              <li class="nav-item">
                  <a class="nav-link btn btn-group-toggle" [class.active-button] = "isButtonActive == 2" (click)="toggle1(2)" routerLink="/welcome/aboutUs">About us
                    <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link btn btn-group-toggle" [class.active-button] = "isButtonActive == 3" (click)="toggle1(3)" routerLink="/welcome/contactUs">Contact Us
                    <span class="sr-only">(current)</span>
                  </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" style="color: lightcyan"><b>  &copy;
           
                {{test | date:'medium'}}</b>
          
             </div>
        </div>
      </footer>
      