.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .alert{
    color: #f0e6e6;
    background-color: #fd0c08;
  }
  .btn.btn:hover{
    background: rgb(19, 85, 139);
   
}

  .btn-group-toggle {
    background-color:rgb(121, 118, 118);
  }

  .active-button {
     background-color: rgba(90, 171, 218, 0.56); 
    border-color: rgba(117, 127, 243, 0.666);
    border-width: 0.3mm;
  }
  