<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
 
    <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h5 class="title"><b>Register Assets</b></h5>
            </div>
            <div class="card-body">
              <form #userForm="ngForm" (ngSubmit)="onSubmit()">
                 
                <div class="row">
                  <div class="col-md-5 pr-1">
                    <div class="form-group">
                      <label><b>Asset Category</b></label>
                      <input type="text" class="form-control"  placeholder="computer" required [(ngModel)]="asset.assetCategory" name="category" #ac="ngModel">
                      <div [hidden]="ac.valid || ac.pristine"
                            class="alert alert-danger">
                            Asset Category is required
                        </div>
                    </div>
                  
                  </div>
                  <div class="col-md-3 px-1">
                    <div class="form-group">
                      <label><b>Brand Name</b></label>
                      <input type="text" class="form-control" placeholder="hp" required [(ngModel)]="asset.brandName" name="Bname" #Bname="ngModel" >
                      <div [hidden]="Bname.valid || Bname.pristine"
                            class="alert alert-danger">
                            Brand Name required
                        </div>
                    </div>
                  </div>
                  <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label><b>Asset Id</b></label>
                        <input type="text" class="form-control"  placeholder="xxxx" required [(ngModel)]="asset.assetId" name="Id" #Aid="ngModel">
                        <div [hidden]="Aid.valid || Aid.pristine"
                            class="alert alert-danger">
                            Asset Id is required
                        </div>
                      </div>
                  </div>
                  
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                      <label ><b>Company Name</b></label>
                      <input id="Cname" type="text" class="form-control" placeholder="John keels" required [(ngModel)]="asset.boughtCompanyName" name="Cname" #Cname="ngModel">
                      <div [hidden]="Cname.valid || Cname.pristine"
                            class="alert">
                            Company Name is required
                        </div>
                    </div>
                </div>
                
               
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label ><b>Buying Price</b></label>
                        <input type="text" class="form-control" placeholder="RS:xxxx.xx" required [(ngModel)]="asset.buyingPrice" name="Bprice" #Bprice="ngModel">
                        <div [hidden]="Bprice.valid || Bprice.pristine"
                            class="alert alert-danger">
                            Buying Price is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 pl-1">
                        <div class="form-group">
                          <label><b>Buying Date</b></label>
                          <input id="Bdate" type="text" class="form-control" placeholder="xx-xx-xxxx" required [(ngModel)]="asset.boughtDate" name="Bdate" #Bdate="ngModel">
                          <div [hidden]="Bdate.valid || Bdate.pristine"
                            class="alert alert-danger">
                            Buying Date is required
                        </div>
                        </div>
                    </div>
                  </div>
                
                  <div class="col-md-4 pr-1">
                    <div class="form-group">
                      <label><b>Warranty Status</b></label>
                      <input type="text" class="form-control" placeholder="Yes/No" required [(ngModel)]="asset.warrantyStatus" name="Wstatus" #wstatus="ngModel" >
                      <div [hidden]="wstatus.valid || wstatus.pristine"
                      class="alert alert-danger">
                      Warranty Status is required
                  </div>
                    </div>
                 
                  
                  
                </div>
               
                  <div class="pull-center">
                  <button type="submit" class="text-center" [disabled]="!userForm.form.valid"><b>Register</b></button>
                 
                
               </div>
    
              </form>
            </div>
          </div>
        </div>
          </div>
    
</div>
