<div class="col-md-2 mb-3">
    <label for="status" class="cols-sm-2 control-label">Position of the employee</label>


    <select name="status" id="status" class="form-control"  [(ngModel)]="searchTerm1" placeholder="">
      <option value="" >All</option>  
    <option value="Employee" >Employee</option>
    <option value="Asset manager" >Asset manger</option>
    <option value="Depart mentHead" >Department Head</option>
    <option value="Event Oraganzer" >Event Organzer</option>
    <option value="CEO" >CEO</option>
      
    </select>
</div>
      
<div id="2s"> 
  <!----------------------------------All Asset Table---------------------------------------->
<br><br>
  <h5 style="text-align: center"><b>CodeGen International (Pvt) Ltd.</b> </h5><br>
  <p style="text-align: center">Trace Expert City, Bay 1-5, Maradana Rd, Colombo 01, Sri Lanka.</p><br>
  <h5 style="text-align: center">Report of the All Employees in the Company</h5><br>
  <hr  id="line" style="margin-top: 13px;"> 
 

  <table id="selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead style="background-color: rgb(60, 123, 148);color: black;font-weight: bold">
        <tr > 
          <th class="th-sm"  style="width: 4cm;font-size: large;"> <b>Position</b>
        </th>
          <th class="th-sm"  style="width: 4cm;font-size: large;"><b>Full Name </b>
          </th>
          <th class="th-sm"  style="width: 4cm;font-size: large;"> <b>Gender</b>
          </th>
          <th class="th-sm"  style="width: 4cm;font-size: large;"><b>NIC </b>
            </th>
          <th class="th-sm"  style="width: 4cm;font-size: large;"> <b> Email Address</b>
          </th>
          <th class="th-sm"  style="width: 4cm;font-size: large;">  <b>Address</b>
          </th>
          <th class="th-sm"  style="width: 4cm;font-size: large;"> <b>Contact Number</b>
          </th>
          
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of AllEmp  | employeeFilter1 : searchTerm1">
          <td style="width: 3cm">{{emp.status}}</td>
          <td style="width: 3cm">{{emp.fastname}}  {{emp.lastname}}</td>
          <td>{{emp.gender}}</td>
          <td>{{emp.nic}}</td>
          <td>{{emp.email}}</td>
          <td>{{emp.address}}</td>
          <td>{{emp.contactNo}}</td>
        </tr>
       
      </tbody>
      <tfoot>
        <tr>
          <th style="width: 3cm">AssetID
          </th>
          <th style="width: 3cm">Category
          </th>
          <th>location
          </th>
          <th>Bought Date
          </th>
          <th>Company
          </th>
          <th>Warranty Status
          </th>
          <th>Quantity
            </th>
        </tr>
      </tfoot>
    </table>
  <!-------------------------------------end------------------------------------------------->
   <pre style="text-align:right;">  <br> <br> ----------------- <br> <br>{{status}} <br>{{Fname}} {{Lname}} <br>{{email}} {{curent}}</pre>
   <pre style=""><p>{{today | date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</p> </pre>
   <pre style="text-align:right;"></pre>
  
</div>
   

 <div class="text-center" style="align-content: center">
  <button  printSectionId="2s"
  ngxPrint class="btn btn-primary hidden-print" ><span class="glyphicon glyphicon-print" style="align-content: center" aria-hidden="true"><i class="fa fa-print" style="font-size:24px"></i></span> Print</button>


 </div>
    

