
<div class="all">
    <div class="logo">
        <a href="#" class="simple-text logo-mini">
        <div class="logo-img">
            <img src="assets/img/logo.png"/>
        </div>
        </a>
        <a href="#" class="simple-text logo-normal">
            <b>{{status}}</b>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <b>
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
                
              
                   
                     
                    <!-----------------------------CEO------------------------>
                <a *ngIf="(status=='CEO')">
                        <a *ngIf="(menuItem.title!='Return Asset')"  [routerLink]="[menuItem.path]">
                    <i *ngIf="(menuItem.title!='Return Asset')"  class="now-ui-icons {{menuItem.icon}}"></i>
                  
                    <p *ngIf="(menuItem.title!='Return Asset')" >{{menuItem.title}}</p>
                </a>
                </a>
                    <!-------------------------Asset Manager------------------->
                <a *ngIf="(status=='Asset Manager')">
                    <a *ngIf="(menuItem.title!='Return Asset')" [routerLink]="[menuItem.path]">
                        <i *ngIf="(menuItem.title!='Return Asset')" class="now-ui-icons {{menuItem.icon}}"></i>
                        <p *ngIf="(menuItem.title!='Return Asset')" style="font-size: 0.36cm;color: rgb(143, 146, 145); font-family: monospace;" > {{menuItem.title}} </p>
                    </a>
                </a>
                    <!------------------Strore keeper-------------------------->

                <a *ngIf="(status=='Store Keeper')">
                        <a *ngIf="(menuItem.title != 'Reports')"  [routerLink]="[menuItem.path]">
                            <i *ngIf="(menuItem.title != 'Reports') "  class="now-ui-icons {{menuItem.icon}}"></i>
                            <p *ngIf="(menuItem.title != 'Reports') " style="font-size: 0.36cm;color: rgb(143, 146, 145); font-family: monospace;" >{{menuItem.title}}</p>
                        </a>
                </a>
                <!---------------------------Department head------------------------>


                  <a *ngIf="(status=='Department Head') || (status =='Employee') || (status == 'Event Organixzer') || (status == 'ProjectManager') || (status == 'EventOrganizer') ">
                        <a *ngIf="(menuItem.title != 'Reports') && (menuItem.title !='Return Asset')" [routerLink]="[menuItem.path]">
                            <i *ngIf="(menuItem.title != 'Reports') && (menuItem.title !='Return Asset')" class="now-ui-icons {{menuItem.icon}}"></i>
                            <p *ngIf="(menuItem.title != 'Reports') && (menuItem.title !='Return Asset')" style="font-size: 0.36cm;color: rgb(143, 146, 145); font-family: monospace;">{{menuItem.title}}</p>
                        </a>
                </a>
               
            </li>
        </ul>
        </b>
    </div>
</div>
