<router-outlet></router-outlet>
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-12" *ngFor="let d of data">

    <!--Card-->
    <div class="card">

      <!--Card image-->
      <div class="view">
        <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="card-img-top"
          alt="photo">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <tr >
        <h4 class="card-title">:{{d.assetIdComputer}}</h4>
        <h6 class="card-title"> Brand name :{{d.buyingPrice}}</h6>
        <h6 class="card-title"> DATE:{{d.boughtDate}}</h6>
        <h6 class="card-title">Discription:{{d.boughtCompanyName}}</h6>
      
        {{d.description}}
          
          
    
        <!--Text-->
        
        <a href="#" class="btn btn-primary" routerLink="/asset/view-asset/book" >Book</a>
        <a href="#" class="btn btn-primary" routerLink="/asset/registor-asset">Update</a>
        <a href="#" class="btn btn-primary" (click)="deleteEmployee()">Delete</a>
       
      </div>

    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->
