.text-small {
    font-size: 0.75rem;
  }
  .collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
  }
  .collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
  }


  .dot {
    height: 25px;
    width: 25px;
    background-color: rgb(206, 30, 30);
    border-radius: 50%;
    display: inline-block;
  }