


    <router-outlet></router-outlet>

      <div class="card">
              <header class="card-header">
                <h4 class="card-title mt-2">Employee Registation</h4>
              </header>

                  <div class="card-body">

                     <form class="form-horizontal"  (ngSubmit)=" onSubmit() ">

                          <div class="form-group">
                              <label for="username" class="cols-sm-2 control-label">Frist Name</label>
                              <div class="cols-sm-10">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                      <input type="text" class="form-control" name="Fname"  id="Fname" [(ngModel)]="employee.firstname" placeholder="Enter your First Name" required/>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="username" class="cols-sm-2 control-label">Last Name</label>
                              <div class="cols-sm-10">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                      <input type="text" class="form-control" name="Lname" id="Lname"  [(ngModel)]="employee.lastname" placeholder="Enter your Last Name" />
                                  </div>
                              </div>
                          </div>
                         
                          <div class="form-group" [class.has-error]="email.invalid && email.touched">
                              <label for="email" class="cols-sm-2 control-label">Email</label>
                              <div class="cols-sm-10">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                      <input type="text" class="form-control" name="email" id="email"  [(ngModel)]="employee.email" #email="ngModel" placeholder="Enter your Email" required email/>
                                      <span class="help-block" *ngIf="email.errors && email.errors.required && email.touched">
                                        
                                         Email is required
                                    
                                         
                                      </span>
                                  </div>
                              </div>
                          </div>



                          
                          <div class="form-group">
                            <label for="username" class="cols-sm-2 control-label">Address</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="Fname"  id="Fname" [(ngModel)]="employee.firstname" placeholder="Enter your First Name" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="cols-sm-2 control-label">Last Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="Lname" id="Lname"  [(ngModel)]="employee.lastname" placeholder="Enter your Last Name" />
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-group" [class.has-error]="email.invalid && email.touched">
                            <label for="email" class="cols-sm-2 control-label">Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="email" id="email"  [(ngModel)]="employee.email" #email="ngModel" placeholder="Enter your Email" required email/>
                                    <span class="help-block" *ngIf="email.errors && email.errors.required && email.touched" style="color:red">
                                        email is required
                                    </span>
                                    <span class="help-block" *ngIf="email.errors && email.errors.email && email.touched" style="color: red">
                                          email is Invalid
                                      </span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group"  [class.has-error]="address.invalid && address.touched">
                          <label for="address" class="cols-sm-2 control-label">Address</label>
                          <div class="cols-sm-10">
                              <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                                  <input type="text" class="form-control" name="address" id="address" [(ngModel)]="employee.address"  #address="ngModel" placeholder="Enter your Address"  required address/>
                                  <span class="help-block" *ngIf="address.errors && address.errors.required && address.touched" style="color:red">
                                        Address is required
                                    </span>
                              </div>
                          </div>
                      </div>


                      <div class="form-group"  [class.has-error]="contactNo.invalid && contactNo.touched">
                        <label for="contactNo" class="cols-sm-2 control-label">Contact Number</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="Cno" id="Cno"  [(ngModel)]="employee.contactNo"   #contactNo="ngModel" placeholder="Enter your Contact Number"  required address/>
                                <span class="help-block" *ngIf="contactNo.errors && contactNo.errors.required && contactNo.touched" style="color:red">
                                        contact Number is required
                                    </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 mb-3">
                          <label for="status" class="cols-sm-2 control-label">Status</label>
                 
                      
                          <select name="status" id="status" class="form-control"  [(ngModel)]="employee.status" placeholder="">
                              
                          <option value="Manager" >Manager</option>
                            <option value="Department Head" >Department Head</option>
                            <option value="Event Organixzer" >Event Organixzer</option>
                            <option value="Employee" >Employee</option>
                            
                          </select>
                  </div>
                    <div class="form-group">

                        <label for="username" class="cols-sm-2 control-label">Gender</label>
                    <div class="cols-sm-10">
                      <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    <div class="custom-control custom-radio custom-control-inline">
                                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"  [(ngModel)]="employee.gender"value="Male"  >
                                          <label class="cols-sm-2 control-label" for="exampleRadios1"  style="margin:5px">
                                            Male
                                          </label>


                                     <div class="custom-control custom-radio custom-control-inline">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"  [(ngModel)]="employee.gender"value="Female" >
                                           <label class="form-check-label" for="exampleRadios1"  style="margin:5px">
                                                Female
                                          </label>

                                    </div>
                              </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">NIC</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="nic" id="nic"  [(ngModel)]="employee.nic" placeholder="Enter your National ID card number" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                          <label for="username" class="cols-sm-2 control-label">Profile image</label>
                          <div class="cols-sm-10">
                              <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                             </div>
                          </div>
                      </div>
                        <div>
                          <img [src]="imgUrl" style="width: 250px;height:200px">

                          <input type="file" name="" id="" #Image accept="image/*"  [(ngModel)]="employee.img" (change)="onChange($event)" >


                        </div>

                        <div class="form-group" [class.has-error]="password.invalid && password.touched">
                            <label for="password" class="cols-sm-2 control-label" >Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="password" id="password"  [(ngModel)]="employee.password" #password="ngModel" placeholder="Enter your Password" required password />
                                    <span class="help-block" style="color: red" *ngIf="password.errors?.required && password.touched">
                                      password is required
                                  </span>
                                  
                                </div>
                            </div>
                        </div>


                        

                        
                        <div class="form-group" [class.has-error]="confirmpassword.invalid && confirmpassword.touched">
                            <label for="confirmpassword" class="cols-sm-2 control-label">Confirm Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="confirmpassword" id="confirmpassword"  [(ngModel)]="employee.confirmpassword" #confirmpassword="ngModel" placeholder="Confirm your Password"appConfirmPassword="password" required confirmpassword />
                                    <span class="help-block" style="color: red" *ngIf="confirmpassword.errors?.required && confirmpassword.touched">
                                     Confirm Password is required
                                  </span>
                                  <span style="color: red" class="help-block" *ngIf="confirmpassword.errors?.notEqual && confirmpassword.touched && !confirmpassword.errors?.required">
                                    Password and Confirm Password does not match 
                                   </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                        </div>

                    </form>
                       </div>

                      </div>









