<!-- Section: form gradient -->
<section class="form-gradient mb-5">

        <!--Form with header-->
        <div class="card">
      
          <!--Header-->
          <div class="header peach-gradient">
      
            <div class="row d-flex justify-content-center">
              <h3 class="white-text mb-0 py-5 font-weight-bold">Contact Us</h3>
            </div>
      
          </div>
          <!--Header-->
      
          <div class="card-body mx-4">
      
            <div class="md-form">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" id="form104" class="form-control">
              <label for="form104">Your name</label>
            </div>
      
            <div class="md-form">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input type="text" id="form105" class="form-control">
              <label for="form105">Your email</label>
            </div>
      
            <div class="md-form">
              <i class="fas fa-tag prefix grey-text"></i>
              <input type="text" id="form106" class="form-control">
              <label for="form106">Subject</label>
            </div>
      
            <div class="md-form">
              <i class="fas fa-pencil-alt prefix grey-text"></i>
              <textarea id="form107" class="md-textarea form-control" rows="5"></textarea>
              <label for="form107">Your message</label>
            </div>
      
      
            <!--Grid row-->
            <div class="row d-flex align-items-center mb-3 mt-4">
      
              <!--Grid column-->
              <div class="col-md-12">
                <div class="text-center">
                  <button type="button" class="btn btn-grey btn-rounded z-depth-1a">Send</button>
                </div>
              </div>
              <!--Grid column-->
      
            </div>
            <!--Grid row-->
          </div>
      
        </div>
        <!--/Form with header-->
      
      </section>
      <!-- Section: form gradient -->
      <!-- Section: form dark -->
      <section class="form-dark mb-5">
      
        <!--Form without header-->
        <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');">
          <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
      
            <!--Header-->
            <div class="text-center">
              <h3 class="white-text mb-5 mt-4 font-weight-bold text-uppercase"><strong>Contact</strong> <a class="green-text font-weight-bold"><strong>
                    Us</strong></a></h3>
            </div>
      
            <div class="md-form">
              <input type="text" id="form100" class="form-control">
              <label for="form100">Your name</label>
            </div>
      
            <div class="md-form">
              <input type="text" id="form101" class="form-control">
              <label for="form101">Your email</label>
            </div>
      
            <div class="md-form">
              <input type="text" id="form102" class="form-control">
              <label for="form102">Subject</label>
            </div>
      
            <div class="md-form">
              <textarea id="form103" class="md-textarea form-control" rows="5"></textarea>
              <label for="form103">Your message</label>
            </div>
      
            <!--Grid row-->
            <div class="row d-flex align-items-center">
      
              <!--Grid column-->
              <div class="text-center col-md-12 mt-3 mb-2">
                <button type="button" class="btn btn-success btn-block btn-rounded z-depth-1">Send</button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
      
          </div>
        </div>
        <!--/Form without header-->
      
      </section>
      <!-- Section: form dark -->