<!--//////////////////////////////////////////////// dialogBox-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<!-- DialogBox -->

<div class="table-responsive" >
    <table class="table table-condensed">
        <thead class="black white-text">
            <tr  class="table-primary">
              <th class="table-active" scope="col">Date/Time</th>
              <th class="table-active" scope="col">Asset ID</th>
              <th scope="col">Complainer Nic</th>
              <th scope="col">Order Type</th>
              <th scope="col">Masage</th>
              <th></th>
              <th></th>
             
            </tr>
          </thead>
      <tbody>
         
          <tr *ngFor="let a of list" class="table-active">
           <!--
              <a *ngFor="let asset of assetDetail">
              <a *ngIf="asset.assetId == a.assetId">
                
              </a>
            </a>
           -->
           <td (click)="onEdit(a)" scope="col">{{a.date}}</td>
              
           <td (click)="onEdit(a)" scope="col">{{a.assetId}}</td>
           <td (click)="onEdit(a)" scope="col">{{a.complainedNic}}</td>
           <td (click)="onEdit(a)" scope="col">{{a.notificationType}}</td>
           <td (click)="onEdit(a)" scope="col">{{a.anyMessage}}</td>
           <button  (click)="openFormModal(a.assetId,a.assetCategory,a.notificationType,a.requestedNic,a.massege,a.beginDate,a.dueDate,a.username)">  <td >View</td></button>
       
           <td (click)="onDelete(a.id)" ><button><i class="fa fa-trash"  aria-hidden="true"></i></button></td>
           
             
            </tr>
      
       
      </tbody>
    </table>
    </div>