<!--//////////////////////////////////////////////// dialogBox-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<!-- DialogBox -->

<div class="table-responsive" >
    <table class="table table-condensed" style="background-color: cornflowerblue">
        <thead class="black white-text">
           
         </thead>
      <tbody>
         
          <tr *ngFor="let a of list" class="table-active">
         <!--brekDown Asset-->

         <a *ngIf="a.notificationType == 'BreakDown' && status == 'Asset Manager' && a.isSeen =='0'" >
   
          <button  (click)="openFormModal(a.assetId,a.assetCategory,a.notificationType,a.complainedNic,a.anyMessage,a.beginDate,a.dueDate,a.username,a.id)" style="background-color: rgb(147, 109, 99)"> 
            <td (click)="onEdit(a)"  scope="col" style="font-size: small;size: 5cm">{{a.date}}</td>
            <td (click)="onEdit(a)" class="table-danger" scope="col" style="size: 3cm">{{a.assetId}}</td>
            <td  style="width: 4cm" (click)="onEdit(a)" scope="col">{{a.complainedNic}}</td>
            <td (click)="onEdit(a)" style="width: 3cm" scope="col">{{a.notificationType}}</td>
            <td (click)="onEdit(a)" style="width: 7.7cm"scope="col">by {{a.anyMessage}} </td>
            <td></td>
           
          </button>
         
            <td (click)="ReleaseAsset(a.assetId,a.id)"  ><button>release</button></td>
       </a> 
       
       

       <!---------------------------seen---------------------------------->

       <a *ngIf="a.notificationType == 'BreakDown' && status == 'Asset Manager' && a.isSeen =='1'" >
   
          <button  (click)="openFormModal(a.assetId,a.assetCategory,a.notificationType,a.complainedNic,a.massege,a.beginDate,a.dueDate,a.username,a.id)" style="background-color: rgb(236, 240, 241);"> 
            <td (click)="onEdit(a)"  scope="col" style="font-size: small;size: 5cm">{{a.date}}</td>
            <td (click)="onEdit(a)" class="table-danger" scope="col" style="size: 3cm">{{a.assetId}}</td>
            <td  style="width: 4cm" (click)="onEdit(a)" scope="col">{{a.complainedNic}}</td>
            <td (click)="onEdit(a)" style="width: 3cm" scope="col">{{a.notificationType}}</td>
            <td (click)="onEdit(a)" style="width: 7.7cm"scope="col"> {{a.anyMessage}} </td>
            <td></td>
           
          </button>
         
            <td (click)="ReleaseAsset(a.assetId,a.id)"  ><button>release</button></td>
       </a> 

            </tr>
      
       
      </tbody>
    </table>
    </div>