

  <!-- Card Dark -->
  <h3>Employee Details</h3>
 
  <div class="row">

    <!-- Card -->
    <div class="col-lg-3 col-md-14" *ngFor="let d of data">


      <div class="card">

    <!-- Card image -->
    <div class="view">
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" class="card-img-top"
        alt="photo">
      <a href="#">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    
  
    <!-- Card content -->
    <div class="card-body elegant-color white-text rounded-bottom">
  
      <!-- Social shares button -->
      <a class="activator waves-effect mr-4"></a>
      <!-- Title -->
      <h4 class="card-title">{{d.lastname}}</h4>
      <p class="card-title" > <a href="">{{d.email}}</a>  </p>

      <h6 class="card-title"> {{d.contactNo}}</h6>
     
      
      <hr class="hr-light">
      <!-- Text -->
       <!-- Link -->
      <a href="#!" class="white-text d-flex justify-content-end"><h5>More Detail <i class="fas fa-angle-double-right"></i></h5></a>
      <a href="#" class="btn btn-primary"routerLink="/asset/registor-asset">Update</a>
      <a href="#" class="btn btn-primary" (click)="deleteEmployee(d)">Delete</a>
    </div>
</div>

  
  </div>
</div>
  <!-- Card Dark -->

  