
<!--//////////////////////////////////////////////// dialogBox-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<!-- DialogBox -->

  <!-- Card Dark -->

  <div class="form-row">
      <div class="col-6">
     <h3 style="margin:50px; align-content: center">Employee Details</h3>
      </div>
      <div class="form-inline">
          <input class="form-control" type="text" placeholder="Search from NIC number" [(ngModel)]="searchTerm" aria-label="Search" style="width: 8cm; margin: 1cm"/>
          <button class="btn btn-outline-success my-2 my-sm-0" type="" >Search</button>

        </div>

      </div>



  <!-- Card Dark -->


<div class="card"  *ngFor="let d of data | employeeFilter:searchTerm">
<div style="background-color: rgb(114, 158, 156);height: 4.5cm;" *ngIf="d.unblocked">
    <div class="row">
      <div class="card border-primary mb-3" style="width: 4cm;height: 4cm;">

          <div class="card-body text-primary" style="padding: 0px 0px 0px 0px;">

              <img [src]="d.img" alt="photo" style="height: 160px; width: 150px;">

              <!-- <img src="assets/img/home.jpg" alt="photo"> -->
          </div>
        </div>
        <div class="card-body">
      <p style="align-content: center;color: rgb(31, 67, 226);width: 8cm;"> <b ><u>{{d.status}}</u>  </b>  </p>
     <p style="width: 8cm;" > <b > Name  :</b>  {{d.firstname}} {{d.lastname}} </p>
     <p style="width: 8cm;"> <b style="width: 12cm;" > NIC No  :</b>{{d.nic}} </p>
      <p class="card-title" style="width: 9cm;"> <a >  <b > Email  :</b>{{d.email}}</a></p>

    </div>
    <div class="card-body">
      <div  *ngIf= "status =='Asset Manager' || status == 'CEO'">
        <a  class="btn btn-primary"(click)="openUpdateEmp1(d.nic)" *ngIf= "status =='Asset Manager' || status == 'CEO'"  >Update</a>
        <a  class="btn btn-primary" (click)="deleteEmployee(d.nic)" style="color: rgb(250, 248, 246);background-color: rgb(53, 88, 128)">Delete</a>
        <a  *ngIf= "status =='Asset Manager'">
            <a  class="btn btn-danger" (click)="BlockEmp(d.nic)" *ngIf="d.unblocked && ((d.status !='Asset Manager') && (d.status !='CEO'))">Block</a> 
            <a  class="btn btn-success"  (click)="UnBlockEmp(d.nic)" *ngIf="!d.unblocked">UnBlock</a> 
          </a>
       
      </div>
        <a  class="btn-primary white-text d-flex justify-content-end" style="background-color: rgb(86, 128, 125)" (click)="openFormModal(d.nic,d.firstname,d.email,d.lastname,d.gender,d.contactNo,d.address,d.employeeId, d.location)" ><p style="color: rgb(199, 204, 194)">More Detail <i class="fas fa-angle-double-right"></i></p></a>
    </div>
  </div>
  </div>



   <!---------------------------------------Block Employee------------------------------------------------->


   <!------------------------------------>
<a *ngIf="!d.unblocked && status == 'Asset Manager' ">
      <div style="background-color: rgb(231, 176, 144);" *ngIf="!d.unblocked && status == 'Asset Manager' ">
          <div class="row">
            <div class="card border-primary mb-3" style="width: 4cm;height: 4cm;">
      
                <div class="card-body text-primary" style="padding: 0px 0px 0px 0px;">
      
                    <img [src]="d.img" alt="photo" style="height: 160px; width: 150px;">
      
                    <!-- <img src="assets/img/home.jpg" alt="photo"> -->
                </div>
              </div>
      
      
      
              <div class="card-body">
      
                  <p style="align-content: center;color: rgb(31, 67, 226);width: 8cm;"> <b ><u>{{d.status}}</u>  </b>  </p>
           <p style="width: 8cm;"> 
              <b > Name  :</b> 
                   {{d.firstname}} {{d.lastname}}
            </p>
           <p style="width: 8cm;"> <b style="width: 12cm;" > NIC No  :</b>{{d.nic}} </p>
            <p class="card-title" style="width: 9cm;"> <a >  <b > Email  :</b>{{d.email}}</a></p>
      
      
          </div>
          <div class="card-body">
            <div  *ngIf= "status =='Asset Manager'">
              <a  class="btn btn-primary" (click)="openUpdateEmp1(d.nic)"  >Update</a>
              <a  class="btn btn-primary" (click)="deleteEmployee(d.nic)" style="color: rgb(250, 248, 246);background-color: rgb(53, 88, 128)">Delete</a>
              <a  *ngIf= "status =='Asset Manager'">
                  <a  class="btn btn-danger" (click)="BlockEmp(d.nic)" *ngIf="d.unblocked && (d.status !='Asset Manager')">Block</a> 
                  <a  class="btn btn-success"  (click)="UnBlockEmp(d.nic)" *ngIf="!d.unblocked">UnBlock</a> 
                </a>
             
            </div>
              <a  class="btn-primary white-text d-flex justify-content-end" style="background-color: rgb(221, 141, 87)" (click)="openFormModal(d.nic,d.firstname,d.email,d.lastname,d.gender,d.contactNo,d.address,d.employeeId, d.location)" ><p style="color: rgb(29, 31, 27)">More Detail <i class="fas fa-angle-double-right"></i></p></a>
          </div>
        </div>
        </div>
      </a>
      </div>
   
      
         <!----------------------Block Employee-------------------------------->

   
    