.btn.btn:active
{
    background-color:rgb(38, 169, 230) !important; /* add here any color */
    
   
}
.btn.btn:hover{
    background: rgb(19, 85, 139);
   
}

/** on active **/

.btn.btn:active{
    background: rgb(32, 33, 39);
 
    
}
