
<!--//////////////////////////////////////////////// dialogBox-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<!-- DialogBox -->

<div class="panel-header panel-header-sm">
  
</div>
<div class="main-content">
 
    <div class="row">
        <div class="col-md-11">
            

          
            <div class="card">
              <div class="card-header">
                
                 <div class="container">
                    <div class="row justify-content-center">
                     <div class="col-md-11">
                      <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
                        
                        <ul class="navbar-nav mr-auto"  *ngIf= "status =='Asset Manager'">
                            <li class="nav-item active">
                              <a class="nav-link" routerLink="/asset/registor-asset">Register Asset </a>
                              
                            </li>
                           
                          </ul>
                        
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" routerLink="/report/viewAllMonthlyReport">View Monthly report</a>
                            </li>

                            <li class="nav-item active">
                              <a class="nav-link" routerLink="/report/viewAllBreakDownReport">View all Monthly BreakeDown Asset</a>
                            </li>
                            
                            <li class="nav-item active">
                              <a class="nav-link" routerLink="/report/viewMonthlyBookAssetReport">View all Monthly Book Asset</a>
                            </li>

                            <li class="nav-item active">
                              <a class="nav-link" routerLink="/report/viewallEmployeeDetailReport">View all Employee</a>
                            </li>

                            <li class="nav-item active">
                              <a class="nav-link" routerLink="/report/viewAllAssetReport">View all Asset</a>
                            </li>


                          </ul>
                          
                        </div>
                        
                      </nav>

                      <!-- Button trigger modal -->
                  <router-outlet></router-outlet>
                     </div>                              
                 </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>



      
      

            


