



<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col">
      <div class="card card-upgrade">
        <div class="card-header">
            


              <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
                  <a class="navbar-brand" href="#">Navbar</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" routerLink="/maps">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
                      
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </div>
                </nav>

          <h5 class="card-title">Our Total Asset</h5>
            <p class="category"></p>
        </div>
       
        <div class="card-body">
          <div class="table-responsive table-upgrade">
            <table class="table">
              <thead>
                <th></th>
                <th class="text-center">Free Asset</th>
                <th class="text-center">Book Asset</th>
              </thead>
              <tbody>
                <tr>
                  <td>LapTop</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  
                </tr>
                <tr>
                  <td>Printer</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                </tr>
                <tr>
                  <td>Scanner</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                </tr>
                <tr>
                  <td>Maic</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                </tr>
                <tr>
                  <td>UPS</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                </tr>
                <tr>
                  <td>Furniture</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                </tr>
                
                <tr>
                  <td class="text-center"></td>
                  
                  <td class="text-center">Total Asset</td>
                  <td class="text-center"></td>
                  
                </tr>
                <tr>
                  <td class="text-center">
                      <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/img/a.jpg" alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                  </td>
                  <td class="text-center">
                      <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/img/a.jpg" alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                   
                  </td>
                  <td class="text-center">
                    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/a.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
                    <a target="_blank" href="https://www.creative-tim.com/product/now-ui-dashboard-pro-angular?ref=nud-angular-upgrade-live" class="btn btn-round btn-primary">print</a>
                  </td>
                </tr>

                <tr>
                    <td class="text-center">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="assets/img/a.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </td>
                    <td class="text-center">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="assets/img/a.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                     
                    </td>
                    <td class="text-center">
                      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/img/a.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
                   
                    </td>
                  </tr>
              </tbody>
            </table>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/a.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/img/a.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <button type="button" class="btn btn-outline-secondary">Action</button>
      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="4">Action</a>
        <a class="dropdown-item" href="2">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
  </div>
  
  <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/a.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>


      <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>

        <br>

        <form #imageForm=ngForm>
           <div class="form">
            <div class="input-field col s12">
              <input type="text" value="Caption" name="Caption" >
              <label for="Caption" >Caption</label>

            </div>
              <div>
                <img [src]="" style="width: 250px;height:200px">
                <input type="file" name="" id="" #Image accept="image/*">
                <button type="submit" class="btn-large btn-submit">submit</button>
              </div>

        </div>

        </form>
        