.btn.btn:active
{
    background-color:rgb(38, 169, 230) !important; /* add here any color */
    
   
}
.btn.btn:hover{
    background: rgb(19, 85, 139);
   
}

/** on active **/

.btn.btn:active{
    background: rgb(32, 33, 39);
 
    
}
.btn-group-toggle {
    background-color:rgb(121, 118, 118);
  }

  .active-button {
     background-color: rgba(90, 171, 218, 0.56); 
    border-color: rgba(117, 127, 243, 0.666);
    border-width: 0.3mm;
  }
