<div class="col-md-10">
   
        <header class="card-header">
                                        
                <h4 class="card-title mt-2">Other Registration</h4>
              </header>
              
              
            <div class="card-body">
            
                <form class="form-horizontal" (ngSubmit)="onSubmit() "name="form" >
                            <div class="form-group"  [class.has-error]="assetcategory.invalid && assetcategory.touched">    
                            <label for="assetcategory" class="cols-sm-2 control-label">Category</label>
                            <div class="col-md-5 mb-3">
                                <select name="assetcategory" id="assetcategory" class="form-control" [(ngModel)]="asset.assetcategory" placeholder="" #assetcategory="ngModel" required assetcategory >
                                    <option value="tv" >Television</option>
                                    <option value="SoundSystem" >Sound Systems</option>
                                    <option value="Cpu" >CPU</option>
                                    <option value="router" >Routers</option>
                            </select>
                            <span class="help-block" *ngIf="assetcategory.touched && assetcategory.invalid" style="color:red" >
                                Category is Required
                            </span>
                           
                    </div>
                </div>
                      
                    <div class="form-group">
                               
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    
                                    <input type="hidden"  class="form-control" name="assetCategory" id="" value="assetCategory"  [(ngModel)]="asset.assetCategory" />
                                </div>
                            </div>
                        </div>
               
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">date</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            
                            <input type="date"  class="form-control" name="Date" id="Date"  [(ngModel)]="asset.boughtDate" BsDaterangepicker />
                        </div>
                    </div>
                </div>

               
                <div class="form-group"  [class.has-error]="buyingPrice.invalid && buyingPrice.touched">
                        <label for="buyingPrice" class="cols-sm-2 control-label">Price</label>
                        <div class="cols-sm-10">
                                <div class="input-group">
                                        <div class="input-group-addon">
                                          <span class="input-group-text" id="buyingPrice">Rs.</span>
                                        </div>
                           
                                    <span class="input-group-addon"><i class="fa fa-model" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="buyingPrice" id="buyingPrice"  [(ngModel)]="asset.buyingPrice"   #buyingPrice="ngModel" placeholder="Rs.100000.00"  required buyingPrice  />
                                </div>
                                    <span class="help-block" *ngIf="buyingPrice.errors && buyingPrice.errors.required && buyingPrice.touched" style="color:red">
                                            Price is required
                                        </span> 
                            
                        </div>
                   </div>


                <!-- Default checked -->
                <div class="form-group"  [class.has-error]="warrantyStatus.invalid && warrantyStatus.touched">
                            
                        <label for="warrantyStatus" class="cols-sm-2 control-label">Warranty Status</label>
                    <div class="cols-sm-10">
                     
                                    <div class="custom-control custom-radio custom-control-inline">
                                          <input class="form-check-input" type="radio" required #warrantyStatus="ngModel" name="examplewarranty" id="warrantyStatus"  [(ngModel)]="asset.warrantyStatus"value="YES"  >
                                          <label class="cols-sm-2 control-label" for="warrantyStatus"  style="margin:5px">
                                            YES
                                          </label>


                                     <div class="custom-control custom-radio custom-control-inline">
                                        <input class="form-check-input" type="radio" required #warrantyStatus="ngModel" name="warrantyStatus" id="examplwarranty"  [(ngModel)]="asset.warrantyStatus"value="NO" >
                                           <label class="form-check-label" for="warrantyStatus"  style="margin:5px">
                                                NO
                                          </label>

                                    </div>
                                    <span class="help-block" *ngIf="warrantyStatus.touched && warrantyStatus.invalid" style="color:red" >
                                            Warranty Status is required
                                        </span>
                              </div>
                        </div>
                    </div>
                     
                            <div class="form-group">
                                    <div class="cols-sm-10">
                                <label for="warranty" class="cols-sm-2 control-label">Warranty Period</label>
                    
                        </div>
                    </div>

                    <div class="form-row">
                            <div class="col">
                                <label for="yrs" class="cols-sm-2 control-label">Years</label>
                                <div class="def-number-input number-input safari_only">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                
                        <input class="yrs" min="0" max="10" name="yrs" value="1" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                        
                      </div>
                        </div>
                        <div class="col">
                                <label for="months" class="cols-sm-2 control-label">Months</label>
                      <div class="def-number-input number-input safari_only">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                        <input class="months" min="0" max="12" name="months" value="1" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                        </div>
                      </div>

                    
                      <div class="col">
                            <label for="days" class="cols-sm-2 control-label">Days</label>
                  <div class="def-number-input number-input safari_only">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                    <input class="days" min="0" max="31" name="days" value="1" type="number">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                  </div>
                </div>
                <div class="form-group"  [class.has-error]="boughtCompanyName.invalid && boughtCompanyName.touched">
                        <label for="boughtCompanyName" class="cols-sm-2 control-label">Companya Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-model" aria-hidden="true"></i></span>
                                  <input type="text" class="form-control" name="boughtCompanyName" id="boughtCompanyName"  [(ngModel)]="asset.boughtCompanyName"   #boughtCompanyName="ngModel" placeholder="Enter your Company Name"  required boughtCompanyName />
                                  <span class="help-block" *ngIf="boughtCompanyName.errors && boughtCompanyName.errors.required && boughtCompanyName.touched" style="color:red">
                                          Company Name is required
                                      </span> 

                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group"  [class.has-error]="boughtCompanyAddress.invalid && boughtCompanyAddress.touched">
                      <label for="boughtCompanyAddress" class="cols-sm-2 control-label">Company Address</label>
                      <div class="cols-sm-10">
                        
                             
                                  <span class="input-group-addon"><i class="fa fa-model" aria-hidden="true"></i></span>
                                  <input type="text" class="form-control" name="boughtCompanyAddress" id="boughtCompanyAddress"  [(ngModel)]="asset.boughtCompanyAddress"   #boughtCompanyAddress="ngModel" placeholder="Nawam Mawatha, Colombo"  required boughtCompanyAddress />
                                  <span class="help-block" *ngIf="boughtCompanyAddress.errors && boughtCompanyAddress.errors.required && boughtCompanyAddress.touched" style="color:red">
                                          Company Address is required
                                      </span> 
                          </div>
                      </div>
                
                 
                  <div class="form-group"  [class.has-error]="companyContact.invalid && companyContact.touched">
                      <label for="companyContact" class="cols-sm-2 control-label"> Company Contact Number</label>
                      <div class="cols-sm-10">
                          
                             
                                  <span class="input-group-addon"><i class="fa fa-model" aria-hidden="true"></i></span>
                                  <input type="text" class="form-control" name="companyContact" id="companyContact"  [(ngModel)]="asset.companyContact"   #companyContact="ngModel" placeholder="0705571128"  required companyContact />
                                  <span class="help-block" *ngIf="companyContact.errors && companyContact.errors.required && companyContact.touched" style="color:red">
                                           Contact Number is required
                                      </span> 
                          </div>
                      </div>
               
                 
                        <div class="col-md-6 mb-3">
                    <div class="form-group"  [class.has-error]="quantity.invalid && quantity.touched">
                            <label for="quantity">Quantity</label>
                            <span class="input-group-addon"><i class="fa fa-model" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="quantity" id="quantity"  [(ngModel)]="asset.quantity"   #quantity="ngModel" placeholder="Enter the Quantity"  required quantity/>
                                <span class="help-block" *ngIf="quantity.errors && quantity.errors.required && quantity.touched" style="color:red">
                                        Quantity is required
                                    </span>  
                    </div>
                </div>
                  
            
               
                <div class="form-group shadow-textarea">
                    <label for="exampleFormControlTextarea6">Discription</label>
                    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" [(ngModel)]="asset.description"  placeholder="Write Description here..."></textarea>
                  </div>

                  
                    
                    <!-- Horizontal material form -->

                
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                </div>
                
            </form>
      
                                
</div>
</div>


