<!--//////////////////////////////////////////////// dialogBox-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<!-- DialogBox -->

<html>

<form  class="text-center border border-light p-5"  #form="ngForm" (submit)="onSubmit(form)"> 
    <p class="h4 mb-4" style="color: rgb(45, 153, 148);"><b>Inform BreakDown</b>  </p>
     
        
  
    <div class="form-group"  [class.has-error]="assetId.invalid && assetId.touched" [class.has-success]="assetId.valid">
    <div class="col-md-5 mb-3">
      <label class="cols-sm-2 control-label" for="assetId" style="color: rgb(220, 217, 228); text-align: left;"><b>ID of the Breakdown Asset</b> </label>
      <input type="text" class="form-control" id="assetId"  name="assetId" placeholder=" Enter the Asset ID"
       [(ngModel)]="breakDown.assetId" required assetId #assetId="ngModel">
      <span class="help-block" *ngIf="assetId.touched && assetId.invalid" style="color:red" >
        Asset ID is Required
    </span>
    </div>
    </div>

  
    <div class="form-group shadow-textarea"  [class.has-error]="anyMessage.invalid && anyMessage.touched" [class.has-success]="anyMessage.valid">
      <label for="anyMessage" style="color: rgb(220, 217, 228);text-align: left;"><b>Description</b></label>
      <textarea class="form-control" id="anyMessage" rows="3"  name="anyMessage" [(ngModel)]="breakDown.anyMessage"
       placeholder=" Asset Description " required anyMessage #anyMessage="ngModel"></textarea>
      <span class="help-block" *ngIf="anyMessage.touched && anyMessage.invalid" style="color:red" >
        Description Required
    </span>
    </div>
   
    
    

  <button class="btn btn-primary btn-sm" type="submit"  >Submit</button>
</form>


</html>