<html>

<form  class="text-center border border-light p-5"  #form="ngForm" (submit)="onSubmit(form)">
    <p class="h4 mb-4">Inform BreakDown </p>
      <div class="col-md-4 mb-3">
          
          <input class="form-control" type="hidden" #id="ngModel" name="id" [(ngModel)]="ser.BreakDown.id">
      </div>
        
  
        <div class="form-row">
    <div class="col-md-5 mb-3">
      <label for="validationDefault01" style="color: red;">Asset Id</label>
      <input type="text" class="form-control" id="validationDefault01"name="assetID" placeholder="assetId" [(ngModel)]="breakDown.assetId">
    </div>
   

  </div>
  <div class="form-group">
      <label for="exampleFormControlTextarea1">description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" [(ngModel)]="breakDown.description"></textarea>
    </div>
    
    

  <button class="btn btn-primary btn-sm" type="submit"  >Submit form</button>
</form>


</html>