<!-- Section: Contact v.1 -->
<section class="my-5" style="padding: 8mm">

    <!-- Section heading -->
    <h2 style="text-align: left; color: rgb(40, 5, 87);"> <b>Contact us</b></h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto pb-5" style="text-align:lefte;padding: 2mm" style="font-size: 0.5cm">If you have questions, 
        comments or suggestions for the INVENTO, please fill out the form below and submit it as 
        well so we can better get in touch with you and respond you as soon as possible</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5 mb-lg-0 mb-4" style="padding-left: 20mm">
  
        <!-- Form with header -->
        <div class="card">
          <div class="card-body">
            <!-- Header -->
            <div class="form-header blue accent-1">
              <h3 class="mt-2"><i class="fas fa-envelope"></i> Write to us:</h3>
              <p>All fields  are Required</p>
            </div>
            
            <!-- Body -->
            <form (ngSubmit)="sendFeedback()">
                <div class="form-group"  [class.has-error]="fname.invalid && fname.touched"  [class.has-success]="fname.valid">
            <div class="md-form">
              <i class="fas fa-user prefix grey-text"></i>
              <label for="form-name">Your name </label>
              <input type="text" id="fname" class="form-control" name="fname" [(ngModel)]="feedback.fname" pattern="^[a-zA-Z]*$" #fname="ngModel" placeholder="Enter your Name" required fname >
              <span class="help-block" *ngIf="fname.errors?.required && fname.touched" style="color:red">
                   Name is required
              </span>
              <span class="help-block" *ngIf="fname.errors?.pattern && fname.touched" style="color:red">
              Only alphabetical characters allowed
              </span>
            </div>
                </div>
                <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
            <div class="md-form">
              <i class="fas fa-envelope prefix grey-text"></i>
              <label for="form-email">Your email </label>
              <input type="text" id="form-email" class="form-control" name="email" [(ngModel)]="feedback.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  #email="ngModel" placeholder="Enter your Email" required email>
              <span class="help-block" *ngIf=" email.errors?.required && email.touched" style="color:red">
                  Email is required
              </span>
              <span class="help-block" *ngIf=" email.errors?.pattern && email.touched" style="color: red">
                    Valid Email needed
                </span>
              </div>
            </div>
            <div class="form-group"  [class.has-error]="subject.invalid && subject.touched"  [class.has-success]="subject.valid">
            <div class="md-form">
              <i class="fas fa-tag prefix grey-text"></i>
              <label for="form-Subject">Subject </label>
              <input type="text" id="form-Subject" class="form-control" name="subject" [(ngModel)]="feedback.subject"  #subject="ngModel" placeholder="Enter subject" required subject >
              <span class="help-block" *ngIf="subject.errors && subject.errors.required && subject.touched" style="color:red">
                  Subject is required
             </span>
            </div>
            </div>
            <div class="form-group"  [class.has-error]="message.invalid && message.touched"  [class.has-success]="message.valid">
            <div class="md-form">
              <i class="fas fa-pencil-alt prefix grey-text"></i>
              <label for="form-text">Send message </label>
              <textarea id="form-text" class="form-control md-textarea" rows="3" name="message" [(ngModel)]="feedback.message"  #message="ngModel" placeholder="Your Message Here" required message></textarea>
              <span class="help-block" *ngIf="message.errors && message.errors.required && message.touched" style="color:red">
                  Message is required
             </span>
            </div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary btn-sm" type="submit">Submit</button>
            </div>
          </form>
          </div>
        </div>

        <!-- Form with header -->
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!--Google map-->
        <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 450px;width: 280px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.6712908968343!2d79.85891237671787!3d6.929836120259202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25910773775c5%3A0xf1a31b65302d429d!2sCodeGen%20International%20(Pvt)%20Ltd!5e0!3m2!1sen!2sus!4v1569482467160!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <!-- Buttons-->
        <div class="row text-center">
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fas fa-map-marker-alt"></i>
            </a>
            <p>Trace Expert City, Bay 1-5,
              
              Maradana Rd, 
               Colombo
              
            <p> Sri Lanka</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fas fa-phone"></i>
            </a>
            <p> 0112 024 400</p>
            <p class="mb-md-0">Mon - Fri, 8:00-18:00</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fas fa-envelope"></i>
            </a>
            <p>codegen@gmail.com</p>
            <p class="mb-0">info@codegen.net</p>
          </div>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Contact v.1 -->