<div class="card">
    <div class="card-header">
      <div class="container">
        <div class="row justify-content-center">
          <div class="card">
           <!-- Image and text -->
           <nav class="navbar navbar-light" style="background-color: #3e6f92;">
            <h5>Asset Category</h5>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
              <a  class="nav-link btn btn-group-toggle" [class.active-button] = "isButtonActive == 1" (click)="toggle1(1)"   href="" routerLink="/asset/registor-asset/computer">
               <img src="assets/img/laptop.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                 Computer
                 <span class="sr-only">(current)</span>
              </a>
                </li>
                
                <li class="nav-item ">
                  <a class="nav-link btn btn-group-toggle" [class.active-button] = "isButtonActive == 2" (click)="toggle1(2)"  href="#"  routerLink="/asset/registor-asset/projecter">
                <img src="assets/img/printer.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                 Projector
                 <span class="sr-only">(current)</span>
               </a>
               </li>
               <li class="nav-item">

              <a class="nav-link btn btn-group-toggle" [class.active-button] = "isButtonActive == 3" (click)="toggle1(3)"  href="#" routerLink="/asset/registor-asset/furniture">
                <img src="assets/img/furniture.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
                  Furniture
                  <span class="sr-only">(current)</span>
               </a>
               </li>
               <li class="nav-item">

              <a class="nav-link btn btn-group-toggle" [class.active-button] = "isButtonActive == 4" (click)="toggle1(4)"  href="#"  routerLink="/asset/registor-asset/other">
                <img src="assets/img/scanner.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                Others
                <span class="sr-only">(current)</span>
                </a>
               </li>
              </ul>

              </nav>

            <router-outlet></router-outlet>

          </div>
        </div>
    </div>
  </div>
</div>



