<div class="card">
    <div class="card-header">
      <div class="container">
        <div class="row justify-content-center">
          <div class="card">            
           <!-- Image and text -->
           <nav class="navbar navbar-light" style="background-color: #3e6f92;">
            <h5>Asset Category</h5>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
              <a class="nav-link"  href="" routerLink="/asset/registor-asset/computer">
               <img src="assets/img/laptop.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                 Computer
                 <span class="sr-only">(current)</span>
              </a>
                </li>
                <li class="nav-item">
              <a class="nav-link " href="#"  routerLink="/asset/registor-asset/projecter">
                <img src="assets/img/printer.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                 Projecter
               </a>
               </li>
               <li class="nav-item">
 
              <a class="nav-link" href="#" routerLink="/asset/registor-asset/furniture">
                <img src="assets/img/furniture.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
                  Furniture
               </a>
               </li>
               <li class="nav-item">
      
              <a class="nav-link" href="#"  routerLink="/asset/registor-asset/other">
                <img src="assets/img/scanner.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                Others
                </a>
               </li>
              </ul>
              
              </nav> 
            
            <router-outlet></router-outlet>

          </div>
        </div>
    </div>
  </div>
</div>



