<!--//////////////////////////////////////////////// dialogBox-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<!-- DialogBox -->

<div class="modal-header" style="background-color: rgb(76, 151, 151)">
  <h4 class="modal-title">Notifications for {{notificationType}} </h4>
 <!-- <button></button> -->

    <a  class="close" (click)="activeModal.dismiss('Cross click')"></a>

</div>
<form [formGroup]="myForm" #form="ngForm" >
  <div class="modal-boy">
    <div class="container">
       
        
     
       
          

        <div class="form-groupp"> 
            
                                                              <!--Changed here-->
            <label for="assetId">Asset Id : <b>{{assetId}} </b>  </label>  <br> <br>
            <label for="assetId">Beging Date: <b> {{beginDate.toDate() | date: 'dd/MM/yyyy'}}</b>  </label> <br> <br>
            <label for="assetId">Due Date : <b>{{dueDate.toDate() | date: 'dd/MM/yyyy'}} </b>  </label> <br> <br>
            <label for="assetId">Description: <b>{{massege}} </b>  </label> <br> <br>
            <label for="id">Employee NIC: <b>{{username}} </b>  </label> <br> <br>
            
            <a *ngFor="let data of pendingRequestDH">
           <a *ngIf="data.requestedNic == requestedNic && data.assetId == assetId ">
            
              <label for="id">Request ID: <b>{{data.id}} </b>  </label> <br> <br>
              </a>
            </a>


          </div>
         

     

    </div>
  </div>

  <div class="modal-footer">
   <a *ngIf="status == 'Asset Manager'">
    <button class="btn btn-success" type="submit" (click)="openAssetDetailModal(assetId)"
      [disabled]="!myForm.valid">
       Asset Details
    </button>
    <button class="btn btn-success" type="submit" (click)="openEmpDetailModal(username)"
     [disabled]="!myForm.valid">
       Order Employee
    </button>
  </a>
  
<!----------------------------------Approved and rejected assets--------------------------------->
  <a *ngIf="notificationType == 'Requesting' && status == 'Department Head' ">
      
    <a *ngFor="let data of pendingRequestDH">
        <a *ngIf="data.requestedNic == requestedNic && data.assetId == assetId ">
         
  <button class="btn btn-success"(click)="acceptDH(data.id,data.requestedNic,data.assetId,data.description,data.beginDate,data.dueDate)"
  [disabled]="!myForm.valid">
  Accept
</button>
<button class="btn btn-success" (click)="rejectDH(data.id,data.requestedNic,data.assetId)"
[disabled]="!myForm.valid">
Reject
</button>
            
           </a>
         </a>

</a>
</div>
</form>