

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="panel-header panel-header-sm">
 
</div>
<div class="main-content">
 
    <div class="row">
        <div class="col-md-11">

           
          
            <div class="card">
              <div class="card-header">
                <h3>Company All Asset</h3>

                <nav class="navbar navbar-light" style="background-color: #77a5c5;">
                    <h5>Asset Category</h5>
                      <a class="navbar-brand" href="" routerLink="/table-list/computerView">
                       <img src="assets/img/laptop.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                         Computer
                      </a>
                      <a class="navbar-brand" href="#"  routerLink="/table-list/projecterView">
                        <img src="assets/img/printer.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                         Projecter
                       </a>
                      <a class="navbar-brand"  href="#" routerLink="/table-list/FurnitureView">
                        <img src="assets/img/furniture.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
                          Furniture
                       </a>
                            
                      <a class="navbar-brand" href="#"  routerLink="/table-list/registor-asset/other">
                        <img src="assets/img/scanner.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                        Others
                        </a>
                      </nav> 
                      <router-outlet></router-outlet>
               
            </div>
          </div>
        </div>
    </div>
</div>




 
      
      

            




