.view {
    background: url("assets/img/home.jpg")no-repeat center center;
    background-size: cover;
}
@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}
.navbar {
    z-index: 1;
}

html,
body,
header,
.view {
  height: 100%;
}