.view {
    background: url("assets/img/home.jpg")no-repeat center center;
    background-size: cover;
}
@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}
.navbar {
    z-index: 1;
}

html,
body,
header,
.view {
  height: 100%;
}



.lds-ring {
    top: 50%;
    left: 50%;
     position: fixed;
     width: 64px;
     height: 64px;
   }
   .lds-ring div {
     box-sizing: border-box;
     display: block;
     position: absolute;
     width: 100px;
     height: 100px;
     margin: 6px;
     border: 6px solid #fcf;
     border-radius: 50%;
     animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
     border-color: rgb(10, 54, 201) transparent transparent transparent;
   }
   .lds-ring div:nth-child(1) {
     animation-delay: -0.45s;
   }
   .lds-ring div:nth-child(2) {
     animation-delay: -0.1s;
   }
   .lds-ring div:nth-child(3) {
     animation-delay: -0.15s;
   }
   @keyframes lds-ring {
     0% {
       transform: rotate(0deg);
     }
     100% {
       transform: rotate(360deg);
     }
   }
  //  .loginButton{
  //    background-color: brown;
  //    size: 2cm;
  //  }

   .myButton {
    box-shadow: 0px 2px 13px 0px #f0f7fa;
    background:linear-gradient(to bottom, #547f93 5%, #054258 100%);
    background-color:#33bdef;
    border-radius:19px;
    border:2px solid #507690;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:19px!important;
    font-weight:bold;
    padding:13px 24px;
    text-decoration:none;
    text-shadow:1px 3px 1px #5b6178;
    padding-left: 45px;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #3da6d8 5%, #054258 100%);
    background-color:#019ad2;
  }
  .myButton:active {
    position:relative;
    top:5px;
  }
