
<!----------------------------------------Television-------------------------------------------------------------------->
<div class="card-body" > 
        <div class="card" style="background-color: rgb(67, 166, 196);height: 2cm;" > 
          <div class="row" > 
 
          <!--Text-->
          <div class="card-body">
            
            <a class="btn btn-primary" >Issue</a>
            <a  class="btn btn-primary" >Return</a>
             
              <!--pop up for booking-->   
            
           
          </div>
        </div>
      </div> 
    </div>
      <!----------------------------------------------------------------------- End Television---------------------------------------------------------->
   