<div class="modal-header">
  <h4 class="modal-title">Booking</h4>
 <!-- <button></button> -->

    <a  class="close" (click)="activeModal.dismiss('Cross click')"></a>

</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">

        <div class="form-groupp">                                                       <!--Changed here-->
            <label for="assetId">Asset Id : <b>{{assetId}}</b>  </label> <br> <br>
            <label for="assetId">Ram: <b>{{ram}}</b>  </label>
          </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text"  [(ngModel)]="bookasset.username"
          class="form-control"
          formControlName="username" />
      </div>
      <div class="form-group">
          <label for="beginDate">Begin Date</label>
          <input type="date"  [(ngModel)]="bookasset.beginDate" BsDaterangepicker
            class="form-control"
            formControlName="beginDate" />
        </div>
        <div class="form-group">
            <label for="dueDate">Return Date</label>
            <input type="date" [(ngModel)]="bookasset.dueDate"
              class="form-control" 
              formControlName="dueDate" />
          </div>
          <div class="form-group">
              <label for="massege">Description</label>
              <input type="text" [(ngModel)]="bookasset.massege"
                class="form-control" 
                formControlName="massege" />
            </div>

     

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
      [disabled]="!myForm.valid">
      Submit Form
    </button>
  </div>
</form>
