<!--//////////////////////////////////////////////// dialogBox-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<!-- DialogBox -->


<div class="modal-header" style="background-color: rgb(62, 163, 177)">
  <h4 class="modal-title">Booking</h4>
 <!-- <button></button> -->

    <a  class="close" (click)="activeModal.dismiss('Cross click')"></a>

</div>
<form [formGroup]="myForm" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="modal-boy">
    <div class="container">
       
        
     

      
          

        <div class="form-groupp">                                                       <!--Changed here-->
            <label for="assetId">Asset Id : <b>{{assetId}} </b>  </label> <br> <br>
            <label for="assetId">Asset Category: <b>{{assetcategory}}</b>  </label>
          </div>
         

      <div class="form-group">
       
        <input   
          class="form-control" name="AssetCategory" type="hidden"  [(ngModel)]="bookasset.AssetCategory"
          formControlName="assetId" />
      </div>
      <div class="form-group">
       
        <input   
          class="form-control" name="AssetCategory" type="hidden"  [(ngModel)]="bookasset.massege"
          formControlName="assetId" />
      </div>
     
        <div class="form-group">
            <label for="beginDate">From</label>
            <input 
              class="form-control" type="text" name="beginDate" [(ngModel)]="bookasset.beginDate"
              formControlName="beginDate"   placeholder="beginDate" bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{containerClass: 'theme-dark-blue',dateInputFormat: 'YYYY-MM-DD'  }"/>
          </div>



        <div class="form-group">
            <label for="dueDate">To</label>
            <input type="text"   [(ngModel)]="bookasset.dueDate"
              class="form-control" 
              formControlName="dueDate"   #datepickerYMD="bsDatepicker" placeholder="2012.12.20" bsDatepicker [minDate]="minDate2" [maxDate]="maxDate2" [bsConfig]="{containerClass: 'theme-dark-blue',dateInputFormat: 'YYYY-MM-DD'  }" />
          </div>
         
        
          <div class="form-group">
              <label for="massege">Description</label>
              <input type="text" 
                class="form-control"   [(ngModel)]="bookasset.description"
                formControlName="massege" />
            </div>

     

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit"
      [disabled]="!myForm.valid">
     Book Asset
    </button>
  </div>
</form>
