<div class="modal-header">
  <h4 class="modal-title">Requesting</h4>
 <!-- <button></button> -->

    <a  class="close" (click)="activeModal.dismiss('Cross click')"></a>

</div>
<form [formGroup]="myForm" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="modal-boy">
    <div class="container">
       
        
     

      
          

        <div class="form-groupp">                                                       <!--Changed here-->
            <label for="assetId">Asset Id : <b>{{assetId}} </b>  </label> <br> <br>
            <label for="assetId">Asset Category: <b>{{assetcategory}}</b>  </label>
          </div>
         

      <div class="form-group">
       
        <input   
          class="form-control" name="AssetCategory" type="hidden"  [(ngModel)]="requestAsset.AssetCategory"
          formControlName="assetId" />
      </div>
      <div class="form-group">
       
        <input   
          class="form-control" name="AssetCategory" type="hidden"  [(ngModel)]="requestAsset.massege"
          formControlName="assetId" />
      </div>
     
        <div class="form-group">
            <label for="beginDate">Begin Date</label>
            <input 
              class="form-control" type="date" name="beginDate" [(ngModel)]="requestAsset.beginDate"
              formControlName="beginDate" />
          </div>
        <div class="form-group">
            <label for="dueDate">Return Date</label>
            <input type="date"   [(ngModel)]="requestAsset.dueDate"
              class="form-control" 
              formControlName="dueDate" />
          </div>
          <div class="form-group">
              <label for="massege">Description</label>
              <input type="text" 
                class="form-control"   [(ngModel)]="requestAsset.description"
                formControlName="massege" />
            </div>

     

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit"
      [disabled]="!myForm.valid">
      Submit Form
    </button>
  </div>
</form>
