<!--//////////////////////////////////////////////// dialogBox-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<!-- DialogBox -->

<div class="modal-header" style="background-color: rgb(62, 163, 177)">
  <h4 class="modal-title">Requesting</h4>
 <!-- <button></button> -->

    <a  class="close" (click)="activeModal.dismiss('Cross click')"></a>

</div>
<form [formGroup]="myForm" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="modal-boy">
    <div class="container">
       
        
     

      
          

        <div class="form-groupp">                                                       <!--Changed here-->
            <label for="assetId">Asset Id : <b>{{assetId}} </b>  </label> <br> <br>
            <label for="assetId">Asset Category: <b>{{assetcategory}}</b>  </label>
          </div>
         

      <div class="form-group">
       
        <input   
          class="form-control" name="AssetCategory" type="hidden"  [(ngModel)]="requestAsset.AssetCategory"
          formControlName="assetId" />
      </div>
      <div class="form-group">
       
        <input   
          class="form-control" name="AssetCategory" type="hidden"  [(ngModel)]="requestAsset.massege"
          formControlName="assetId" />
      </div>
     
        <div class="form-group">
            <label for="beginDate">From</label>
            <input 
              class="form-control" type="text" name="beginDate" [(ngModel)]="requestAsset.beginDate"
              formControlName="beginDate" placeholder="YYYY-MM-DD" bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }" required />
          </div>
        <div class="form-group">
            <label for="dueDate">To </label>
            <input type="text"   [(ngModel)]="requestAsset.dueDate"
              class="form-control" 
              formControlName="dueDate" placeholder="YYYY-MM-DD" bsDatepicker  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }" required/>
          </div>
          <div class="form-group">
              <label for="massege">Description</label>
              <input type="text" 
                class="form-control" placeholder="Description here"   [(ngModel)]="requestAsset.description"
                formControlName="massege" required />
            </div>

     

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit"
      [disabled]="!myForm.valid">
      Submit Form
    </button>
  </div>
</form>


  <!----------------------------------Future Date---------------------------------------->
 
  <hr />

  <h5 style="text-align: center;">Reserved Dates</h5>
  <hr />

  <table id="selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead style="background-color: rgb(60, 123, 148);color: black;font-weight: bold">
        <tr > 
          <th class="th-sm"  style="width: 4cm;font-size: large;"> <b>From</b>
        </th>
          <th class="th-sm"  style="width: 4cm;font-size: large;"><b>To</b>
          </th>
         
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dateCouple of dateArray">
          <td style="width: 3cm">{{dateCouple.beginDate}}</td>
          <td style="width: 3cm">{{dateCouple.dueDate}}</td>
          
        </tr>
       
      </tbody>
   
    </table>