<div class="panel-header">
    <div class="header text-center">
      <h2 class="title">WELCOME</h2>
      
    </div>
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"></h4>
            
          </div>
          <div class="card-body">
            <div class="alert alert-info">
              <span></span>
            </div>
            
            
            
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"></h4>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="places-buttons">
                  <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                      <h4 class="card-title">
                        
                        <p class="category"></p>
                      </h4>
                    </div>
                  
                  
                </div>
              </div>
            </div>
          </div>      </div>
      </div>
      
    </div>
  </div>
  