<!--//////////////////////////////////////////////// dialogBox-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<!-- DialogBox -->
<div class="col-md-10">
   
    <header class="card-header">
                                    
            <h4 class="card-title mt-2">Furniture Registration</h4>
          </header>
        
        <div class="card-body">
          <form class="form-horizontal"  (ngSubmit)=" onSubmit(assetsform) " name="form" #assetsForm="ngForm"  >
        
                   
                            <div class="form-group"  [class.has-error]="brandName.invalid && brandName.touched"  [class.has-success]="brandName.valid">
                    
                            <label for="brandName" class="cols-sm-2 control-label">Brand Name</label>
                            <div class="col-md-5 mb-3">
                        
                            <select name="brandName" id="brandName" style="width: 70mm;height:10mm"  [(ngModel)]="asset.brandName" placeholder="" required #brandName="ngModel">
                            <option value="HP" >Damro</option>
                              <option value="Nilkamal" >Nilkamal</option>
                              <option value="Nisaco" >Nisaco</option>
                              <option value="Dambulla furnitures" >Dambulla furnitures</option>
                              <option value="Arpico furnitures" >Arpico furnitures</option>
                              <option value="Others" >Others</option>
                              
                            </select>
                            <span class="help-block" *ngIf="brandName.touched && brandName.invalid" style="color:red" >
                                    Brand Name is Required
                                </span>
                                 
                    </div>
                </div>
                      
               
                <div class="form-group"  [class.has-error]="boughtDate.invalid && boughtDate.touched"  [class.has-success]="boughtDate.valid">
                    <label for="boughtDate" class="cols-sm-2 control-label">date</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            
                            <input type="text"  class="form-control" name="boughtDate" id="boughtDate"  [(ngModel)]="asset.boughtDate"  bsDatepicker  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }" />
                        </div>
                    </div>
                </div>

                          <input type="text"  class="form-control" name="boughtDate" id="boughtDate"  [(ngModel)]="asset.boughtDate"  required boughtDate #boughtDate="ngModel"  bsDatepicker  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }"   />
                          <span class="help-block" *ngIf="boughtDate.touched && boughtDate.invalid" style="color:red" >
                              Date is Required
                          </span>
                      </div>
                  </div>
              </div>
                
                <div class="form-group"  [class.has-error]="buyingPrice.invalid && buyingPrice.touched"  [class.has-success]="buyingPrice.valid">
                    <label for="buyingPrice" class="cols-sm-2 control-label">price</label>
                    <div class="cols-sm-10">
                            <div class="input-group">
                                    <div class="input-group-addon">
                                      <span class="input-group-text" id="buyingPrice">Rs.</span>
                                    </div>
                       
                                <span class="input-group-addon"><i class="fa fa-model" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="buyingPrice" id="buyingPrice" #buyingPrice="ngModel" [(ngModel)]="asset.buyingPrice" placeholder="Enter Price" required buyingPrice/>
                        </div>
                            <span class="help-block" *ngIf="buyingPrice.errors && buyingPrice.errors.required && buyingPrice.touched" style="color:red">
                                    Price is required
                                </span> 
                        
                    </div>
                </div>

                <div class="form-group"  [class.has-error]="location.invalid && location.touched" [class.has-success]="location.valid">
                                   
                                
                  <label for="location" class="cols-sm-2 control-label">Location</label>
                  
                  <div class="col-md-5 mb-3" >
                  <select name="location" id="location" style="width: 70mm;height:10mm"  [(ngModel)]="asset.location" required location #location="ngModel">

         
                 
                    <option value="Head office" >Head office</option>
                    <option value="IT Department" >IT Department</option>
                    <option value="HR Department" >HR Department</option>
                    <option value="Finance Departmentn" >Finance Department</option>
                    
                    
                  </select>
                
         
          <span class="help-block" *ngIf="location.touched && location.invalid" style="color:red" >
              Location is Required
          </span>
           
          
  </div>
</div>

                <!-- Default checked -->
                <div class="form-group"  [class.has-error]="warrantyStatus.invalid && warrantyStatus.touched" [class.has-success]="warrantyStatus.valid">
                            
                        <label for="warrantyStatus" class="cols-sm-2 control-label">Warranty Status</label>
                    <div class="cols-sm-10">
                     
                                    <div class="custom-control custom-radio custom-control-inline">
                                          <input class="form-check-input" type="radio" required #warrantyStatus="ngModel" name="examplewarranty" id="warrantyStatus"  [(ngModel)]="asset.warrantyStatus"value="YES"  >
                                          <label class="cols-sm-2 control-label" for="warrantyStatus"  style="margin:5px">
                                            YES
                                          </label>


                                     <div class="custom-control custom-radio custom-control-inline">
                                        <input class="form-check-input" type="radio" required #warrantyStatus="ngModel" name="warrantyStatus" id="examplwarranty"  [(ngModel)]="asset.warrantyStatus"value="NO" >
                                           <label class="form-check-label" for="warrantyStatus"  style="margin:5px">
                                                NO
                                          </label>

                                    </div>
                                    <span class="help-block" *ngIf="warrantyStatus.touched && warrantyStatus.invalid" style="color:red" >
                                            Warranty Status is required
                                        </span>
                              </div>
                        </div>
                    </div>
                     
                            <div class="form-group">
                                    <div class="cols-sm-10">
                                <label for="warranty" class="cols-sm-2 control-label">Warranty Period</label>
                    
                        </div>
                    </div>

                    <div class="form-row">
                            <div class="col">
                                <label for="yrs" class="cols-sm-2 control-label">Years</label>
                                <div class="def-number-input number-input safari_only">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                
                        <input class="yrs" min="0" max="10" name="yrs" value="0" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                        
                      </div>
                        </div>
                        <div class="col">
                                <label for="months" class="cols-sm-2 control-label">Months</label>
                      <div class="def-number-input number-input safari_only">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                        <input class="months" min="0" max="12" name="months" value="0" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                        </div>
                      </div>

                    
                      <div class="col">
                            <label for="days" class="cols-sm-2 control-label">Days</label>
                  <div class="def-number-input number-input safari_only">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                    <input class="days" min="0" max="31" name="days" value="0" type="number">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                  </div>
                </div>
                        
                
                <div class="form-group"  [class.has-error]="boughtCompanyName.invalid && boughtCompanyName.touched" [class.has-success]="boughtCompanyName.valid">
                  <label for="boughtCompanyName" class="cols-sm-2 control-label">Companya Name</label>
                  <div class="cols-sm-10">
                      
                            <span class="input-group-addon"><i class="fa fa-model" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" name="boughtCompanyName" id="boughtCompanyName" [(ngModel)]="asset.boughtCompanyName" placeholder="Enter Company Name" #boughtCompanyName="ngModel" required boughtCompanyName />
                          <span class="help-block" *ngIf="boughtCompanyName.errors && boughtCompanyName.errors.required && boughtCompanyName.touched" style="color:red">
                                Company Name is required
                            </span> 
                      </div>
                  </div>
             
              <div class="form-group"  [class.has-error]="boughtCompanyAddress.invalid && boughtCompanyAddress.touched" [class.has-success]="boughtCompanyAddress.valid">
                    <label for="boughtCompanyAddress" class="cols-sm-2 control-label">Company Address</label>
                    <div class="cols-sm-10">
                       
                           
                                <span class="input-group-addon"><i class="fa fa-model" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="boughtCompanyAddress" id="boughtCompanyAddress"  [(ngModel)]="asset.boughtCompanyAddress"   #boughtCompanyAddress="ngModel" placeholder="Nawam Mawatha, Colombo"  required boughtCompanyAddress />
                                <span class="help-block" *ngIf="boughtCompanyAddress.errors && boughtCompanyAddress.errors.required && boughtCompanyAddress.touched" style="color:red">
                                        Company Address is required
                                    </span> 
                        </div>
                    </div>
               
                <div class="form-group"  [class.has-error]="companyContact.invalid && companyContact.touched" [class.has-success]="companyContact.valid" >
                        <label for="companyContact" class="cols-sm-2 control-label"> Company Contact Number</label>
                        <div class="cols-sm-10">
                            
                               
                                    <span class="input-group-addon"><i class="fa fa-model" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="companyContact" id="companyContact"  [(ngModel)]="asset.companyContact"   #companyContact="ngModel" placeholder="0705571128"  required companyContact />
                                    <span class="help-block" *ngIf="companyContact.errors && companyContact.errors.required && companyContact.touched" style="color:red">
                                             Contact Number is required
                                        </span> 
                            </div>
                        </div>
                   
           
            
            <div class="form-row">
             
                    <div class="col-md-6 mb-3">
                            <div class="form-group"  [class.has-error]="assetcategory.invalid && assetcategory.touched" [class.has-success]="assetcategory.valid">
                                        <label for="assetcategory" class="cols-sm-2 control-label"> Asset Category</label>
                                        <select name="assetcategory" id="assetcategory" style="width: 70mm;height:10mm" [(ngModel)]="asset.assetcategory"  #assetcategory="ngModel" placeholder="Category" required assetcategory>
                                                <option value="Office Table" >Office Table</option>
                                                <option value="Office chair" >Office chair</option>
                                                <option value="Cupbourds" >Cupbourds</option>
                                                <option value="Sofa set" >Sofa set</option>
                                        </select>
                                        <span class="help-block" *ngIf="categoryTypes.touched && categoryTypes.invalid" style="color:red" >
                                                Category is Required
                                            </span>
                                </div>
                              </div>
                          
                    <div class="col-md-6 mb-3">
                            <div class="form-group"  [class.has-error]="quantity.invalid && quantity.touched" [class.has-success]="quantity.valid">
                                    <label for="quantity">Quantity</label>
                                    <span class="input-group-addon"><i class="fa fa-model" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="quantity" id="quantity"  [(ngModel)]="asset.quantity"   #quantity="ngModel" placeholder="Enter the Quantity"  required quantity/>
                                        <span class="help-block" *ngIf="quantity.errors && quantity.errors.required && quantity.touched" style="color:red">
                                                Quantity is required
                                            </span>  
                            </div>
                        </div>
                        </div>
                        
               
                <div class="form-group shadow-textarea">
                        <label for="exampleFormControlTextarea6">Discription</label>
                        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" name="description" [(ngModel)]="asset.description"  placeholder="Write Description here..."></textarea>
                        <small id="passwordHelpInline" class="text-muted">
                                Must be 8-20  words
                              </small>
                      </div>
    
                      
                        <!-- Horizontal material form -->
    
                            
                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button" [disabled]="assetsForm.invalid" >Register</button>
                        </div>
                        
                    </form>
              
                                        
    </div>
    </div>
    
                       
    
                         
                       
                   
            
                  
        


