

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
 
    <div class="row">
        <div class="col-md-11">
             <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
                        
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item ">
                              <a class="nav-link btn btn-group-toggle" [class.active-button] = "isButtonActive == 1" (click)="toggle1(1)"   routerLink="/breakdown/complainBreakedown" style="color: beige;">Complain Breakdowns </a>
                              
                            </li>
                           
                          </ul>
                        
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item" *ngIf="status == 'Asset Manager'">
                              <a a class="nav-link btn btn-group-toggle" [class.active-button] = "isButtonActive == 2" (click)="toggle1(2)"  routerLink="/breakdown/viewBreakdownnotification" style="color: beige;">View Breakdwons 
                                <span class="sr-only">(current)</span>
                              </a>
                            </li>
                           
                           

                            
                            
                          </ul>
                         
                        </div>
                        
                      </nav>
       <div class="card">
    <div class="card-header">
  <div class="container">
<div class="row justify-content-center">
        <div class="col-md-11">

            <div class="lds-ring" style="align-content: center" *ngIf=" showLoadingIndicator"><div></div><div></div><div></div><div></div></div> 
            <router-outlet></router-outlet>
        </div>               
                   
                        
                      
                           
        </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>




 
      
      

            