<div class="panel-header panel-header-lg">
  
</div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          
          <h4 class="card-title">Breakdown Assets</h4>
         
        </div>
        <div class="card-body">
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          
          <h4 class="card-title">Breakdown Assets</h4>
         
        </div>
        <div class="card-body">
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            
          </div>
        </div>
        
      </div>
    </div>
   
  </div>
  
</div>
