#exampleCircle{
    width: 30px;
    height: 30px;
    background: rgb(39, 68, 196);
    border-radius: 50%;
}
.btn-group-toggle {
    background-color: rgba(64, 245, 255, 0.09);
  }

  .active-button {
    /* background-color: rgba(64, 246, 255, 0.56); */
    border-color: rgba(219, 110, 21, 0.666);
    border-width: 0.3mm;
  }
  