
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="#pablo"><h2>INVENTO</h2></a>
            </div>
            <button class="navbar-toggler" type="button" (click)="collapse()"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
              <form>
                <div class="input-group no-border">
                   
                </div>
              </form>
              <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="https://mail.google.com/mail/u/0/?tab=rm#inbox">About us
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                         
                             
                <li class="nav-item">
                    
                    <a class="nav-link" href="">Contact</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                     <i class="d-lg-none d-md-block"></i> Instagram</a>
                </li>

               
              

                <li  class="dropdown messages-menu" (click)="setNotifiedUser()">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                    <span class="label label-success">{{notificationCount}}4</span>
								
                  </a>

                  <ul class="dropdown-menu">
                    <li class="header"><p> You have {{notificationCount}} messages</p></li>
                    <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li *ngFor="let a of list"><!-- start message -->
                      <a href="#">
                        <h4>
                        <small><i class="fa fa-clock-o"></i>{{a.a.OrderDate}}</small>
                        </h4>
                        <p > You have {{notification.message}}</p>
                        <p >{{notification.fullname | titlecase }} has {{notification.message}}</p>
                      </a>
                      </li>
                    </ul>
                    </li>
                    <li [routerLink]="['/notification']" class="footer"><a href="#">See All Messages</a></li>
                  </ul>
                </li>


                <li class="nav-item" ngbDropdown>
                  <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                        <i class="now-ui-icons users_single-02"></i>
                    <p>
                      <span class="d-lg-none d-md-block">Some Actions</span>
                    </p>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <a class="dropdown-item" href="#">Edit porfile</a>
                    <a class="dropdown-item" href="#"  routerLink="/home">LogOut</a>
                  
                    <a class="dropdown-item" href="#"></a>
                  </div>
                </li>
                
              </ul>


            </div>
        </div>
    </nav>
    