<!--//////////////////////////////////////////////// dialogBox-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<!-- DialogBox -->

<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
  <div class="container-fluid"  >
      <div class="navbar-wrapper">
          <div class="navbar-toggle">
              <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
              </button>
          </div>
          <a class="navbar-brand" href="#pablo"><h2>INVENTO</h2></a>
      </div>
      <button class="navbar-toggler" type="button" (click)="collapse()"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
        <form>
          <div class="input-group no-border">
             
          </div>
        </form>

        <ul class="navbar-nav">
          <li class="nav-item ">
               
            <a class="nav-link btn btn-group-toggle" [class.active-button] = "isButtonActive == 1" (click)="toggle1(1)"  routerLink="/welcome">Home
              <span class="sr-only">(current)</span>
            </a>
           
         </li>
      <li class="nav-item ">
          <a class="nav-link btn btn-group-toggle" [class.active-button] = "isButtonActive == 2" (click)="toggle1(2)" routerLink="/welcome/aboutUs">About us
            <span class="sr-only">(current)</span>
          </a>
      </li>
               
                   
      <li class="nav-item">
          
          <a class="nav-link btn btn-group-toggle" [class.active-button] = "isButtonActive == 3" (click)="toggle1(3)" routerLink="/welcome/contactUs">Contact Us
            <span class="sr-only">(current)</span>
          </a>
       </li>
        
          

         
         
<!--
          <li class="dropdown messages-menu">
            <a class="nav-link" href="#pablo">
              <i class="now-ui-icons ui-1_bell-53">{{data}}</i>
             
            </a>
          </li> 
-->
          <!--notification-->
          
          <li class="nav-item"  ngbDropdown >
              <a class="nav-link" id="dropdownBasic1" (click)="countnoti()" ngbDropdownToggle>
                  <i class="now-ui-icons ui-1_bell-53"> <a  *ngIf="isclick">  <div id = "exampleCircle" ><p style="color: red"><b> <!--{{data}}--> </b></p></div>  </a></i>
               
              </a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 10cm;background-color: rgb(33, 80, 102);height: 12cm;">
                  
                  <div class="container" >
                    <div class="row"  style="background-color: rgb(47, 82, 95)">
                      <div class="col-md-6">
                        <div class="panel panel-primary">
                          <div class="panel-heading" >
                              
                            <h6 class="panel-title" style="color: rgb(8, 8, 8);text-align: center;"> Notifications <!--{{data}} --> </h6>
                           
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                          </div>
                         
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive" style="height: 10cm" >
                    <div class="list-group" *ngFor="let a of list" style="background-color: rgb(31, 205, 253)">

                      <!-------------------------------------------------------Department Head Notification show--------------------------------->


                   <a *ngIf="(a.notificationType == 'Requesting')  &&  status == 'Department Head' && a.isSeen =='0' ">
                    <button type="button" class="list-group-item list-group-item-action" style="height: 2.3cm;background-color: lightskyblue;" (click)="openBookDetails(a.assetId,a.assetcategory,a.notificationType,a.requestedNic,a.massege,a.beginDate,a.dueDate,a.username,a.id)" >
                       <div class="row">
                          <div class="col-xs-4" *ngIf= "a.assetCategory == 'Projector'"  style="width: 1.5cm;height: 1.5cm;">
                            <img src="assets/img/printer.jpg" alt="photo">
                           </div>
                          <div class="col-xs-4" *ngIf= "a.assetCategory == 'Furniture'"   style="width: 1.5cm;height: 1.5cm;">
                            <img src="assets/img/furniture.jpeg"  alt="photo">
                          </div>
                           <div class="col-xs-4" *ngIf= "a.assetCategory == 'Computer'"  style="width: 1.5cm;height: 1.5cm;">
                             <img src="assets/img/home.jpg" alt="photo">
                          </div>
                        
                          <div class="col-xs-4">
                              <p  style="color: rgb(16, 28, 39);font-size: 1.4ch"> <b>{{a.assetId}}</b>  &nbsp; &nbsp;
                              <!--request by employee-->
                              <p style="font-size: 1.6ch;color: rgb(19, 15, 14)" *ngIf="a.notificationType == 'Requesting'"> Request by emplyee to you.     </p>
                              <!--Accept department head-->
                              <p style="font-size: 1.3ch;color: rgb(14, 97, 3)" *ngIf="a.notificationType == 'RequestAM'"> was accepted by Department head.</p>
                            
                              <p style="font-size: 1.1ch;text-align: center;margin-left: 2.5em"><b> {{a.Discription}} </b></p>
                            </div><br>
                         
                         </div>
                           
                    </button>
                  </a>

                  <!----------------------------------------------------------------------End Deparment Head------------------------------------------------------>
                



                      <!-------------------------------------------------------Department Head Notification show--------------------------------->


                      <a *ngIf="( a.notificationType == 'Requesting')  &&  status == 'Department Head' && a.isSeen =='1'">
                          <button type="button" class="list-group-item list-group-item-action" style="height: 2.3cm;background-color: rgb(238, 241, 243);" (click)="openBookDetails(a.assetId,a.assetcategory,a.notificationType,a.requestedNic,a.massege,a.beginDate,a.dueDate,a.username,a.id)" >
                             <div class="row">
                                <div class="col-xs-4" *ngIf= "a.assetCategory == 'Projector'"  style="width: 1.5cm;height: 1.5cm;">
                                  <img src="assets/img/printer.jpg" alt="photo">
                                 </div>
                                <div class="col-xs-4" *ngIf= "a.assetCategory == 'Furniture'"   style="width: 1.5cm;height: 1.5cm;">
                                  <img src="assets/img/furniture.jpeg"  alt="photo">
                                </div>
                                 <div class="col-xs-4" *ngIf= "a.assetCategory == 'Computer'"  style="width: 1.5cm;height: 1.5cm;">
                                   <img src="assets/img/home.jpg" alt="photo">
                                </div>
                              
                                <div class="col-xs-4">
                                    <p  style="color: rgb(16, 28, 39);font-size: 1.4ch"> <b>{{a.assetId}}</b>  &nbsp; &nbsp;
                                    <!--request by employee-->
                                    <p style="font-size: 1.6ch;color: rgb(19, 15, 14)" *ngIf="a.notificationType == 'Requesting'"> Request by emplyee to you.     </p>
                                    <!--Accept department head-->
                                    <p style="font-size: 1.3ch;color: rgb(14, 97, 3)" *ngIf="a.notificationType == 'RequestAM'"> was accepted by Department head.</p>
                                  
                                    <p style="font-size: 1.1ch;text-align: center;margin-left: 2.5em"><b> {{a.Discription}} </b></p>
                                  </div><br>
                               
                               </div>
                                 
                          </button>
                        </a>
      
                        <!----------------------------------------------------------------------End Deparment Head------------------------------------------------------>
                      

                          <!-------------------------------------------------------Department Head REquestAM show--------------------------------->


                      <a *ngIf=" a.notificationType == 'RequestAM' &&  status == 'Asset Manager' && a.isSeen == '0'">
                          <button type="button" class="list-group-item list-group-item-action" style="height: 2.3cm;background-color: lightskyblue;" (click)="openFormModal(a.assetId,a.assetcategory,a.notificationType,a.requestedNic,a.massege,a.beginDate,a.dueDate,a.username,a.id)" >
                             <div class="row">
                                <div class="col-xs-4" *ngIf= "a.assetCategory == 'Projector'"  style="width: 1.5cm;height: 1.5cm;">
                                  <img src="assets/img/printer.jpg" alt="photo">
                                 </div>
                                <div class="col-xs-4" *ngIf= "a.assetCategory == 'Furniture'"   style="width: 1.5cm;height: 1.5cm;">
                                  <img src="assets/img/furniture.jpeg"  alt="photo">
                                </div>
                                 <div class="col-xs-4" *ngIf= "a.assetCategory == 'Computer'"  style="width: 1.5cm;height: 1.5cm;">
                                   <img src="assets/img/home.jpg" alt="photo">
                                </div>
                              
                                <div class="col-xs-4">
                                    <p  style="color: rgb(16, 28, 39);font-size: 1.4ch"> <b>{{a.assetId}}</b>  &nbsp; &nbsp;
                                    <!--Accept department head-->
                                    <p style="font-size: 1.5ch;color: rgb(14, 97, 3)" > was accepted by Department head.</p>
                                  
                                    <p style="font-size: 1.1ch;text-align: center;margin-left: 2.5em"><b> {{a.Discription}} </b></p>
                                  </div><br>
                               
                               </div>
                                 
                          </button>
                        </a>
      
                        <!----------------------------------------------------------------------End Deparment Head------------------------------------------------------>
                      

                          <!-------------------------------------------------------Department Head REQUESTAM SEEN show--------------------------------->


                      <a *ngIf="a.notificationType == 'RequestAM'  &&  status == 'Asset Manager' && a.isSeen == '1'">
                          <button type="button" class="list-group-item list-group-item-action" style="height: 2.3cm;background-color: rgb(238, 241, 243);" (click)="openFormModal(a.assetId,a.assetcategory,a.notificationType,a.requestedNic,a.massege,a.beginDate,a.dueDate,a.username,a.id)" >
                             <div class="row">
                                <div class="col-xs-4" *ngIf= "a.assetCategory == 'Projector'"  style="width: 1.5cm;height: 1.5cm;">
                                  <img src="assets/img/printer.jpg" alt="photo">
                                 </div>
                                <div class="col-xs-4" *ngIf= "a.assetCategory == 'Furniture'"   style="width: 1.5cm;height: 1.5cm;">
                                  <img src="assets/img/furniture.jpeg"  alt="photo">
                                </div>
                                 <div class="col-xs-4" *ngIf= "a.assetCategory == 'Computer'"  style="width: 1.5cm;height: 1.5cm;">
                                   <img src="assets/img/home.jpg" alt="photo">
                                </div>
                              
                                <div class="col-xs-4">
                                    <p  style="color: rgb(16, 28, 39);font-size: 1.4ch"> <b>{{a.assetId}}</b>  &nbsp; &nbsp;
                                    <!--request by employee-->
                                    <!--Accept department head-->
                                    <p style="font-size: 1.5ch;color: rgb(14, 97, 3)" >was accepted by Department head.</p>
                                  
                                    <p style="font-size: 1.1ch;text-align: center;margin-left: 2.5em"><b> {{a.Discription}} </b></p>
                                  </div><br>
                               
                               </div>
                                 
                          </button>
                        </a>
      
                        <!----------------------------------------------------------------------End Deparment Head------------------------------------------------------>
                      


                        <!-------------------------------------------------------Asset Manger Notification show--------------------------------->
                        <a *ngIf="(a.notificationType == 'Booking' ) && status == 'Asset Manager' && a.isSeen =='0' ">
                        
                            <button type="button"  class="list-group-item list-group-item-action"  style="height: 2.3cm;background-color: lightskyblue;"(click)="BookingDetails(a.assetId,a.assetcategory,a.notificationType,a.requestedNic,a.massege,a.beginDate,a.dueDate,a.username,a.id)" >
                              <div class="row">
                                 <div class="col-xs-4" *ngIf= "a.assetCategory == 'Projector'"  style="width: 1.5cm;height: 1.5cm;">
                                   <img src="assets/img/printer.jpg" alt="photo">
                                  </div>
                                 <div class="col-xs-4" *ngIf= "a.assetCategory == 'Furniture'"   style="width: 1.5cm;height: 1.5cm;">
                                   <img src="assets/img/furniture.jpeg"  alt="photo">
                                 </div>
                                  <div class="col-xs-4" *ngIf= "a.assetCategory == 'Computer'"  style="width: 1.5cm;height: 1.5cm;">
                                    <img src="assets/img/home.jpg" alt="photo">
                                 </div>
                                 
                                 <div class="col-xs-4">
                                    <p  style="color: rgb(40, 20, 153);font-size: 1.4ch" *ngIf="a.notificationType == 'Booking' || a.notificationType == 'RequestAM' || a.notificationType == 'BreakDown'"> <b>{{a.assetId}} </b>  </p> &nbsp; &nbsp;
                                    <!--book for Asset manger-->
                                    <p style="font-size: 1.6ch;color: rgb(165, 51, 9)" *ngIf="a.notificationType == 'Booking'"> Booked Assets</p>
                                    <!--Accept department head-->
                                    <p style="font-size: 1.6ch;color: rgb(14, 97, 3)" *ngIf="a.notificationType == 'RequestAM'"> was accepted by Department head.</p>
                                  <!--breakdwon asset-->
                                  <p style="font-size: 1.6ch;color: rgb(165, 51, 9)" *ngIf="a.notificationType == 'BreakDown'"> You have a BreakDown Notification.</p>
                                    <p style="font-size: 1.1ch;text-align: center;margin-left: 2.5em" *ngIf="a.notificationType == 'Booking' || a.notificationType == 'RequestAM' || a.notificationType == 'BreakDown'"><b> {{a.Discription}} </b></p>
                                  </div><br>
                                
                                </div>
                          
                                  
                           </button>    
                         </a>
<!------------------------------------check seen notification ---------------------------------------------->
<a *ngIf="(a.notificationType == 'Booking' ) && status == 'Asset Manager' && a.isSeen =='1' ">
                        
    <button type="button"  class="list-group-item list-group-item-action"  style="height: 2.3cm;background-color: rgb(235, 240, 243);"(click)="BookingDetails(a.assetId,a.assetcategory,a.notificationType,a.requestedNic,a.massege,a.beginDate,a.dueDate,a.username,a.id)" >
      <div class="row">
         <div class="col-xs-4" *ngIf= "a.assetCategory == 'Projector'"  style="width: 1.5cm;height: 1.5cm;">
           <img src="assets/img/printer.jpg" alt="photo">
          </div>
         <div class="col-xs-4" *ngIf= "a.assetCategory == 'Furniture'"   style="width: 1.5cm;height: 1.5cm;">
           <img src="assets/img/furniture.jpeg"  alt="photo">
         </div>
          <div class="col-xs-4" *ngIf= "a.assetCategory == 'Computer'"  style="width: 1.5cm;height: 1.5cm;">
            <img src="assets/img/home.jpg" alt="photo">
         </div>
         
         <div class="col-xs-4">
            <p  style="color: rgb(40, 20, 153);font-size: 1.4ch" *ngIf="a.notificationType == 'Booking' || a.notificationType == 'RequestAM' || a.notificationType == 'BreakDown'"> <b>{{a.assetId}} </b>  </p> &nbsp; &nbsp;
            <!--book for Asset manger-->
            <p style="font-size: 1.6ch;color: rgb(165, 51, 9)" *ngIf="a.notificationType == 'Booking'"> Booked Assets</p>
            <!--Accept department head-->
            <p style="font-size: 1.6ch;color: rgb(14, 97, 3)" *ngIf="a.notificationType == 'RequestAM'"> was accepted by Department head.</p>
          <!--breakdwon asset-->
          <p style="font-size: 1.6ch;color: rgb(165, 51, 9)" *ngIf="a.notificationType == 'BreakDown'"> You have a BreakDown Notification.</p>
            <p style="font-size: 1.1ch;text-align: center;margin-left: 2.5em" *ngIf="a.notificationType == 'Booking' || a.notificationType == 'RequestAM' || a.notificationType == 'BreakDown'"><b> {{a.Discription}} </b></p>
          </div><br>
        
        </div>
  
          
   </button>    
 </a>
<!-----------------------------------------END--------------------------------------------------------------->

                         
       
                        <!-----------------------Employee massage from department head not SEEN-------------------------->
                            

                      <a *ngIf="( a.notificationType == 'RequestAM')  &&  (status == 'Employee' || status == 'EventOrganizer' ||  status == 'Department Head' || status == 'Store Keeper' || status == 'ProjectManager')  && (nic == a.requestedNic || nic == a.massege || nic == a.username) && a.isSeen1 =='1'">
                          <button type="button" class="list-group-item list-group-item-action" style="height: 2.3cm;background-color: rgb(238, 241, 243);" (click)="openEmployeeDetails(a.assetId,a.assetcategory,a.notificationType,a.requestedNic,a.massege,a.beginDate,a.dueDate,a.username,a.id)" >
                             <div class="row">
                                <div class="col-xs-4" *ngIf= "a.assetCategory == 'Projector'"  style="width: 1.5cm;height: 1.5cm;">
                                  <img src="assets/img/printer.jpg" alt="photo">
                                 </div>
                                <div class="col-xs-4" *ngIf= "a.assetCategory == 'Furniture'"   style="width: 1.5cm;height: 1.5cm;">
                                  <img src="assets/img/furniture.jpeg"  alt="photo">
                                </div>
                                 <div class="col-xs-4" *ngIf= "a.assetCategory == 'Computer'"  style="width: 1.5cm;height: 1.5cm;">
                                   <img src="assets/img/home.jpg" alt="photo">
                                </div>
                              
                                <div class="col-xs-4">
                                    <p  style="color: rgb(16, 28, 39);font-size: 1.4ch"> <b>{{a.assetId}}</b>  &nbsp; &nbsp;
                                    <!--request by employee-->
                                   
                                    <p style="font-size: 1.6ch;color: rgb(14, 97, 3)" *ngIf="a.notificationType == 'RequestAM'"> was accepted by Department head.</p>
                                  
                                    <p style="font-size: 1.1ch;text-align: center;margin-left: 2.5em"><b> {{a.Discription}} </b></p>
                                  </div><br>
                               
                               </div>
                                 
                          </button>
                        </a>
      


                        <!------------------------------END----------------------------------------------------->
                      
    <!-----------------------Employee massage from department head not SEEN-------------------------->
                            

    <a *ngIf="( a.notificationType == 'RequestAM')  && (status == 'Employee' || status == 'EventOrganizer' ||  status == 'Department Head' || status == 'Store Keeper' || status == 'ProjectManager')  && (nic == a.requestedNic || nic == a.massege || nic == a.username) && a.isSeen1 =='0'">
        <button type="button" class="list-group-item list-group-item-action" style="height: 2.3cm;background-color: lightskyblue;" (click)="openEmployeeDetails(a.assetId,a.assetcategory,a.notificationType,a.requestedNic,a.massege,a.beginDate,a.dueDate,a.username,a.id)" >
           <div class="row">
              <div class="col-xs-4" *ngIf= "a.assetCategory == 'Projector'"  style="width: 1.5cm;height: 1.5cm;">
                <img src="assets/img/printer.jpg" alt="photo">
               </div>
              <div class="col-xs-4" *ngIf= "a.assetCategory == 'Furniture'"   style="width: 1.5cm;height: 1.5cm;">
                <img src="assets/img/furniture.jpeg"  alt="photo">
              </div>
               <div class="col-xs-4" *ngIf= "a.assetCategory == 'Computer'"  style="width: 1.5cm;height: 1.5cm;">
                 <img src="assets/img/home.jpg" alt="photo">
              </div>
            
              <div class="col-xs-4">
                  <p  style="color: rgb(16, 28, 39);font-size: 1.4ch"> <b>{{a.assetId}}</b>  &nbsp; &nbsp;
                 <!--Accept department head-->
                  <p style="font-size: 1.6ch;color: rgb(14, 97, 3)" *ngIf="a.notificationType == 'RequestAM'"> was accepted by Department head.</p>
                
                  <p style="font-size: 1.1ch;text-align: center;margin-left: 2.5em"><b> {{a.Discription}} </b></p>
                </div><br>
             
             </div>
               
        </button>
      </a>



      <!------------------------------END----------------------------------------------------->
    

                           <!-------------------------------------------------------Asset Manger breakdwon Notification show--------------------------------->
                        <a *ngIf="(a.notificationType == 'BreakDown') && status == 'Asset Manager' && a.isSeen =='1'">
                       
                            <button type="button"  class="list-group-item list-group-item-action"  style="height: 2.3cm;background-color: rgb(238, 242, 245);" (click)="openBreakDownModal(a.assetId,a.assetCategory,a.notificationType,a.complainedNic,a.massege,a.beginDate,a.dueDate,a.username,a.id)" >
                              <div class="row">
                                 <div class="col-xs-4" *ngIf= "a.assetCategory == 'Projector'"  style="width: 1.5cm;height: 1.5cm;">
                                   <img src="assets/img/printer.jpg" alt="photo">
                                  </div>
                                 <div class="col-xs-4" *ngIf= "a.assetCategory == 'Furniture'"   style="width: 1.5cm;height: 1.5cm;">
                                   <img src="assets/img/furniture.jpeg"  alt="photo">
                                 </div>
                                  <div class="col-xs-4" *ngIf= "a.assetCategory == 'Computer'"  style="width: 1.5cm;height: 1.5cm;">
                                    <img src="assets/img/home.jpg" alt="photo">
                                 </div>
                                 
                                 <div class="col-xs-4">
                                    <p  style="color: rgb(40, 20, 153);font-size: 1.4ch"> <b>{{a.assetId}}</b>   </p> &nbsp; &nbsp;
                                   <!--breakdwon asset-->
                                  <p style="font-size: 1.6ch;color: rgb(165, 51, 9)" *ngIf="a.notificationType == 'BreakDown'"> You have a BreakDown Notification.</p>
                                    <p style="font-size: 1.1ch;text-align: center;margin-left: 2.5em"><b> {{a.date}} </b></p>
                                  </div><br>
                                
                                </div>
                          
                                  
                           </button>  
                         </a>


       
                         <!----------------------------------------------------------------------End Asset Manager Notification------------------------------------------------------>
                <!-----------------------------------------------------check seen ------------------------------------------------------------>
      <!-------------------------------------------------------Asset Manger breakdwon Notification show--------------------------------->
      <a *ngIf="(a.notificationType == 'BreakDown') && status == 'Asset Manager' && a.isSeen =='0'">
                       
          <button type="button"  class="list-group-item list-group-item-action"  style="height: 2.3cm;background-color: lightskyblue;" (click)="openBreakDownModal(a.assetId,a.assetCategory,a.notificationType,a.complainedNic,a.massege,a.beginDate,a.dueDate,a.username,a.id)" >
            <div class="row">
               <div class="col-xs-4" *ngIf= "a.assetCategory == 'Projector'"  style="width: 1.5cm;height: 1.5cm;">
                 <img src="assets/img/printer.jpg" alt="photo">
                </div>
               <div class="col-xs-4" *ngIf= "a.assetCategory == 'Furniture'"   style="width: 1.5cm;height: 1.5cm;">
                 <img src="assets/img/furniture.jpeg"  alt="photo">
               </div>
                <div class="col-xs-4" *ngIf= "a.assetCategory == 'Computer'"  style="width: 1.5cm;height: 1.5cm;">
                  <img src="assets/img/home.jpg" alt="photo">
               </div>
               
               <div class="col-xs-4">
                  <p  style="color: rgb(40, 20, 153);font-size: 1.4ch"> <b>{{a.assetId}}</b>   </p> &nbsp; &nbsp;
                 <!--breakdwon asset-->
                <p style="font-size: 1.6ch;color: rgb(165, 51, 9)" *ngIf="a.notificationType == 'BreakDown'"> You have a BreakDown Notification.</p>
                  <p style="font-size: 1.1ch;text-align: center;margin-left: 2.5em"><b> {{a.date}} </b></p>
                </div><br>
              
              </div>
        
                
         </button>  
       </a>



       <!----------------------------------------------------------------------End Asset Manager Notification------------------------------------------------------>

                <!------------------------------------------------------End------------------------------------------------------------------->

                  
                      <!-------------------------------------------------------Employee Notification show--------------------------------->
                      <a *ngIf="(a.notificationType == 'rejectAM' || a.notificationType == 'acceptAM' || a.notificationType == 'Reject') && ((status =='Employee') || (status == 'Event Organixzer') || (status == 'ProjectManager') || (status == 'EventOrganizer' || status == 'Department Head')) && (nic == a.requestedNic || nic == a.massege || nic == a.username) && a.isSeen =='0'">


                        <button type="button" class="list-group-item list-group-item-action" style="height: 2.3cm;background-color: lightskyblue;" (click)="openRejectDepartmentH(a.assetId,a.assetcategory,a.notificationType,a.requestedNic,a.massege,a.beginDate,a.dueDate,a.username,a.id)" >
                          <div class="row">
                             <div class="col-xs-4" *ngIf= "a.assetcategory == 'Projector'"  style="width: 1.5cm;height: 1.5cm;">
                               <img src="assets/img/printer.jpg" alt="photo">
                              </div>
                             <div class="col-xs-4" *ngIf= "a.assetcategory == 'Furniture'"   style="width: 1.5cm;height: 1.5cm;">
                               <img src="assets/img/furniture.jpeg"  alt="photo">
                             </div>
                              <div class="col-xs-4" *ngIf= "a.assetcategory == 'Computer'"  style="width: 1.5cm;height: 1.5cm;">
                                <img src="assets/img/home.jpg" alt="photo">
                             </div>
                             <div class="col-xs-4">
                               <p  style="color: rgb(19, 17, 26);font-size: 1.4ch"> <b>{{a.assetId}} </b>   </p> &nbsp; &nbsp;
                               <!--Reject Asset manger-->
                               <p style="font-size: 1.6ch;color: rgb(165, 51, 9)" *ngIf="a.notificationType == 'rejectAM'"> Asset Manager reject your Request.</p>
                               <!--Accept department head-->
                               <p style="font-size: 1.6ch;color: rgb(14, 97, 3)" *ngIf="a.notificationType == 'acceptAM'"> Your Request is approved by Asset Manager</p>
                              <!--Reject Department head-->
                              <p style="font-size: 1.6ch;color: rgb(145, 18, 39)" *ngIf="a.notificationType == 'Reject'"> Department Head Reject your Request.</p>
                             
                              <!---------------Acsept Dpartment head----------->
                              <p style="font-size: 1.6ch;color: rgb(14, 97, 3)" *ngIf="a.notificationType == 'RequestAM'"> Your Request approved by Department Head.</p>
                             
                               <p style="font-size: 1.1ch;text-align: center;margin-left: 2.5em"><b> {{a.Discription}} </b></p>
                             </div><br>
                            
                          
                            </div>
                              
                       </button>
                     </a>
   

                       <!-------------------------------------------------------Employee Notification show--------------------------------->
                       <a *ngIf="(a.notificationType == 'rejectAM' || a.notificationType == 'acceptAM' || a.notificationType == 'Reject') && ((status =='Employee') || (status == 'Event Organixzer') || (status == 'ProjectManager') || (status == 'EventOrganizer' || status == 'Department Head')) && (nic == a.requestedNic || nic == a.massege || nic == a.username) && a.isSeen =='1'">


                          <button type="button" class="list-group-item list-group-item-action" style="height: 2.3cm;background-color: rgb(238, 242, 245);" (click)="openRejectDepartmentH(a.assetId,a.assetcategory,a.notificationType,a.requestedNic,a.massege,a.beginDate,a.dueDate,a.username,a.id)" >
                            <div class="row">
                               <div class="col-xs-4" *ngIf= "a.assetcategory == 'Projector'"  style="width: 1.5cm;height: 1.5cm;">
                                 <img src="assets/img/printer.jpg" alt="photo">
                                </div>
                               <div class="col-xs-4" *ngIf= "a.assetcategory == 'Furniture'"   style="width: 1.5cm;height: 1.5cm;">
                                 <img src="assets/img/furniture.jpeg"  alt="photo">
                               </div>
                                <div class="col-xs-4" *ngIf= "a.assetcategory == 'Computer'"  style="width: 1.5cm;height: 1.5cm;">
                                  <img src="assets/img/home.jpg" alt="photo">
                               </div>
                               <div class="col-xs-4">
                                 <p  style="color: rgb(19, 17, 26);font-size: 1.4ch"> <b>{{a.assetId}} </b>   </p> &nbsp; &nbsp;
                                 <!--Reject Asset manger-->
                                 <p style="font-size: 1.6ch;color: rgb(165, 51, 9)" *ngIf="a.notificationType == 'rejectAM'"> Asset Manager reject your Request.</p>
                                 <!--Accept department head-->
                                 <p style="font-size: 1.6ch;color: rgb(14, 97, 3)" *ngIf="a.notificationType == 'acceptAM'"> Your Request is approved by Asset Manager</p>
                                <!--Reject Department head-->
                                <p style="font-size: 1.6ch;color: rgb(145, 18, 39)" *ngIf="a.notificationType == 'Reject'"> Department Head Reject your Request.</p>
                               
                                <!---------------Acsept Dpartment head----------->
                                <p style="font-size: 1.6ch;color: rgb(14, 97, 3)" *ngIf="a.notificationType == 'RequestAM'"> Your Request approved by Department Head.</p>
                               
                                 <p style="font-size: 1.1ch;text-align: center;margin-left: 2.5em"><b> {{a.Discription}} </b></p>
                               </div><br>
                              
                            
                              </div>
                                
                         </button>
                       </a>
     

                     
                     <!----------------------------------------------------------------------End Employee Notification------------------------------------------------------>
                     

                </div>
                   
                    <div>
                       
                    </div>
                    
                  </div>
                  <a class="panel-heading" style="background-color:  rgb(46, 91, 105);width: 9.5cm">
                      <a  style="color: rgb(6, 4, 20);text-align: center; font-size: medium;" routerLink="/notifications">See All</a>
                  </a>
                
                  </div>
                  
              </div>
            
            </li>


           
           <!--end-->
          <li class="nav-item" ngbDropdown >
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                  <i class="now-ui-icons users_single-02"></i>
              <p>
                <span class="d-lg-none d-md-block">Some Actions</span>
              </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                  <!-- <a class="dropdown-item" href="#" style="color: rgb(70, 82, 119)"> <b>Edit porfile</b> </a>
               -->
                
              <a class="dropdown-item" (click)="logout()"  style="color: rgb(70, 82, 119)"> <b>Log out
             
             </b> </a>
          
            </div>
          </li>
        </ul>
      </div>  
  </div>
</nav>


