
<!-- filter item using drop dwon list-->


<div class="row">
<div class="col-md-2 mb-3"><br>
    <select name="status" id="status" class="form-control"  [(ngModel)]="searchTerm">
    <option value="" >All</option>  
    <option value="Computer" >Computer</option>
    <option value="Furniture" >Furniture</option>
    <option value="Projector" >Projector</option>
    <option value="tv" >Television</option>
    <option value="SoundSystem" >Sound Systems</option>
    <option value="UPS" >UPS</option>
    <option value="router" >Routers</option> 
    </select>
    <label for="status" class="cols-sm-2 control-label">Asset Catagory</label>
</div>





  

</div>


      
<div id="2s"> 
  <!----------------------------------All Asset Table---------------------------------------->
<br><br>
<h5 style="text-align: center"><b>CodeGen International (Pvt) Ltd.</b> </h5><br>
<p style="text-align: center">Trace Expert City, Bay 1-5, Maradana Rd, Colombo 01, Sri Lanka.</p><br>
<h5 style="text-align: center"><b>Report of All Breakdown Assets' Details within a Month</b> </h5><br>


  <hr  id="line" style="margin-top: 13px;"> 
 

  <table id="selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead style="background-color:rgb(60, 123, 148);color: black;font-weight: bold">
        <tr > 
          <th class="th-sm"style="width: 4cm;font-size: large;"><b> Asset ID </b>
        </th>
          <th class="th-sm"style="width: 4cm;font-size: large;"><b>Warranty</b>
          </th>
          <th class="th-sm" style="width: 4cm;font-size: large;"> <b>Asset Category</b>
          </th>
          <th class="th-sm" style="width: 4cm;font-size: large;"> <b>Location</b>
            </th>
          <th class="th-sm" style="width: 4cm;font-size: large;"> <b>Company contact No</b>
          </th>
          <th class="th-sm" style="width: 4cm;font-size: large;"> <b>Complaner Name </b>
          </th>
          <th class="th-sm" style="width: 4cm;font-size: large;"><b>Complaner Contact Number</b>
          </th>
          
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asset of AllBrekdown |  assetfilterBreak : searchTerm">
          
          <td style="width: 3cm;">{{asset.assetId}}</td>
          <td style="width: 5cm;">{{asset.brokenAsset.warrantyStatus}}</td>
          <td style="width: 5cm;">{{asset.brokenAsset.assetcategory}}</td>
   
           <td style="width: 7cm;">{{asset.brokenAsset.location}}</td>
           <td style="width: 3cm;">{{asset.brokenAsset.companyContact}}</td>
           <td style="width: 9cm;">{{asset.informedBy.firstname}} {{asset.informedBy.lastname}}</td>
           <td style="width: 4cm;">{{asset.informedBy.contactNo}}</td>
         
        </tr>
       
      </tbody>
      <tfoot>
        <tr>
          <th >AssetID
          </th>
          <th >Category
          </th>
          <th >location
          </th>
          <th >Bought Date
          </th>
          <th >Company
          </th>
          <th >Warranty Status
          </th>
          <th>Quantity
            </th>
        </tr>
      </tfoot>
    </table>
  <!-------------------------------------end------------------------------------------------->
   <pre style="text-align:right;">  <br> <br> ----------------- <br> <br>{{status}} <br>{{Fname}} {{Lname}} <br>{{email}} {{curent}}</pre>
   <pre style=""><p>{{today | date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</p> </pre>
   <pre style="text-align:right;"></pre>
  
</div>
   

 <div class="text-center" style="align-content: center">
  <button  printSectionId="2s"
  ngxPrint class="btn btn-primary hidden-print" ><span class="glyphicon glyphicon-print" style="align-content: center" aria-hidden="true"><i class="fa fa-print" style="font-size:24px"></i></span> Print</button>


 </div>
    

