
<!--//////////////////////////////////////////////// dialogBox-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<!-- DialogBox -->


<div class="form-row">
    <div class="col-6">
   <h3 style="margin:50px; align-content: center">My Asset Details</h3>
    </div>
    
    
    </div>

    <!-- filter item using drop dwon list-->
    


<router-outlet></router-outlet>

<div  *ngFor="let d of ownAsset |  assetfilter : searchTerm">
 

<!----------------------------------------Computer-------------------------------------------------------------------->
  <div class="card-body" > 
    <div class="card" style="background-color: rgb(105, 165, 221);height: 2cm;" > 
      <div class="row" >
  <!--Card-- *ngIf= "d.assetCategory == 'Computer'"-->

       <div class="card-body" >
      
        <tr >
          
        <td class="card-content" style="width: 4cm;">Asset Id:   <b>{{d.assetId}}</b>  </td>
        
        <td class="card-title" style="width: 6cm;">Asset Category:         <b>{{d.requestedAsset.assetcategory}}</b></td>
        <td class="card-text" style="width: 5cm;"> From:   <b>{{d.beginDate}}</b></td>
        <td class="card-title" style="width: 5cm;">To:         <b>{{d.dueDate}}</b></td>
        
       
      </div>
      <!--Text-->
      <div class="card-body">
      
        <a class="btn btn-danger" (click)="cancelBoolAsset(d.id)">Cancel</a>
            <!--pop up for booking-->   
       
       
       
      </div>

    </div>
  </div> 
</div>
  <!----------------------------------------------------------------------- End Computer---------------------------------------------------------->



  <!-- -->
  <!---->
  <!---->

</div>

  