<div class="container"><br>
  <h4 style="color: rgb(31, 79, 141);align-content: center;font-family: ">Computer</h4>
    <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary" >
              <th>
               <b>Asset Id</b>
              </th>
              <th>
                  <b> Asset Cateogory</b>
              </th>
              <th>
                <b> Brand Name </b>
              </th>
              <th>
                <b>Bought Company Name</b>
              </th>
              <th >
               <b> Buying Price</b>
              </th>
              <th>
               <b> warranty Status</b>
              </th>
             
             
            </thead>
            <tbody>
               

                <tr *ngFor="let d of data">
                    <div style="background-color: burlywood" *ngIf="d.assetCategory == 'Computer'">
                      <td>{{d.assetId}}</td>
                      <td></td>
                      <td>{{d.assetCategory}}</td>
                      <td>{{d.brandName}}</td>
                      <td>{{d.boughtCompanyName}}</td>
                      <td>{{d.buyingPrice}}</td>
                      <td>{{d.warrantyStatus}}</td>
                    </div>
                  </tr>
        
            </tbody>
          </table>
        </div>
      </div>

    <div class="row justify-content-center">
     <div class="col-md-11">
      
     </div>                              
 </div>
</div>